# PROBLEM NO.9 DINEOUT RESTAURANTS

In [ ]:
from bs4 import BeautifulSoup
import requests

page = requests.get('https://www.dineout.co.in/chennai-restaurants?search_str=chennai')
page

In [ ]:
a = BeautifulSoup(page.content)
a

In [ ]:
name = a.find('a',class_="restnt-name ellipsis")
name.text

In [ ]:
cusine = a.find('span',class_="double-line-ellipsis")
cusine.text

In [ ]:
cusine.text.split('|')[1]

In [ ]:
loc = a.find('div',class_='restnt-loc ellipsis')
loc.text

In [ ]:
images = []
for i in a.find_all("img",class_="no-img"):
    images.append(i.get('data-src'))
images

In [ ]:
print(len(images))

In [ ]:
names = []
for i in a.find_all('a',class_="restnt-name ellipsis"):
    names.append(i.text)
names

In [ ]:
print(len(names))

In [ ]:
cusines = []
for i in a.find_all('span',class_="double-line-ellipsis"):
    cusines.append(i.text.split('|')[1])
cusines

In [ ]:
print(len(cusines))

In [ ]:
location = []
for i in a.find_all('div',class_='restnt-loc ellipsis'):
    location.append(i.text)
location

In [ ]:
print(len(location))

In [ ]:
import pandas as pd
df = pd.DataFrame({'Restaurant Name':names,'Cuisine':cusines,'Location':location,'Image URL':images})
df

# PROBLEM NO.8 - MOST DOWNLOADED ARTICLES FROM AI

In [ ]:
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
html = urlopen('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
html

In [ ]:
bs = BeautifulSoup(html,"html.parser")
bs

In [ ]:
paper_title = bs.find('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg")
paper_title.text

In [ ]:
author_name = bs.find('span',class_='sc-1w3fpd7-0 dnCnAO')
author_name.text

In [ ]:
pub_date = bs.find('span',class_='sc-1thf9ly-2 dvggWt')
pub_date.text

In [ ]:
link = bs.find('a',class_='sc-5smygv-0 fIXTHm')
link.get('href')

In [ ]:
pname = []
for i in bs.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    pname.append(i.text)
pname

In [ ]:
aname = []
for i in bs.find_all('span',class_='sc-1w3fpd7-0 dnCnAO'):
    aname.append(i.text)
aname

In [ ]:
date = []
for i in bs.find_all('span',class_='sc-1thf9ly-2 dvggWt'):
    date.append(i.text)
date

In [ ]:
plink = []
for i in bs.find_all('a',class_='sc-5smygv-0 fIXTHm'):
    plink.append(i.get('href'))
plink

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'Paper Title':pname,'Authors':aname,'Published Date':date,'Paper URL':plink})
df1

# PROBLEM NO.7 CNBC NEWS

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
page2 = requests.get('https://www.cnbc.com/world/?region=world')
page2

In [ ]:
c = BeautifulSoup(page2.content)
c

In [ ]:
hl = c.find('a',class_='LatestNews-headline')
hl.text

In [ ]:
allhl = []
for i in c.find_all('a',class_='LatestNews-headline'):
    allhl.append(i.text)
allhl

In [ ]:
time1 = c.find('time',class_='LatestNews-timestamp')
time1.text

In [ ]:
newslink = c.find('a',class_='LatestNews-headline')
newslink.get('href')

In [ ]:
alllink = []
for i in c.find_all('a',class_='LatestNews-headline'):
    alllink.append(i.get('href'))
alllink

In [ ]:
alltime1 = []
for i in c.find_all('time',class_='LatestNews-timestamp'):
    alltime1.append(i.text)
alltime1

In [ ]:
import pandas as pd
df2 = pd.DataFrame({'Headline':allhl,'Time':alltime1,'News Link':alllink})
df2

# PROBLEM NO.2 IMDB TOP 50 MOVIES

In [ ]:
from bs4 import BeautifulSoup
import requests

page6 = requests.get('https://www.imdb.com/chart/top/')
page6

In [ ]:
f6 = BeautifulSoup(page6.content)
f6

In [ ]:
mn1 = f6.find('td',class_='titleColumn').a.text
mn1

In [ ]:
allmn = []
for i in f6.find_all('td',class_='titleColumn'):
    allmn.append(i.a.text)
allmn

In [ ]:
print(len(allmn))

In [ ]:
my1 = f6.find('td',class_='titleColumn').span.text.strip('()')
my1

In [ ]:
allmy = []
for i in f6.find_all('td',class_='titleColumn'):
    allmy.append(i.span.text.strip('()'))
allmy

In [ ]:
print(len(allmy))

In [ ]:
mr1 = f6.find('td',class_='ratingColumn imdbRating').strong.text
mr1

In [ ]:
allmr = []
for i in f6.find_all('td',class_='ratingColumn imdbRating'):
    allmr.append(i.strong.text)
allmr

In [ ]:
print(len(allmr))

In [ ]:
import pandas as pd
df12 = pd.DataFrame({'Movie Name':allmn,'Year of Release':allmy,'Rating for Movie':allmr})
df12

In [ ]:
df13 = df12.iloc[0:50,:]
df13

# PROBLEM NO.3 - IMDB RATING FOR INDIAN MOVIES

In [ ]:
from bs4 import BeautifulSoup
import requests

page12 = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
page12

In [ ]:
f12 = BeautifulSoup(page12.content)
f12

In [ ]:
imn1 = f12.find('td',class_='titleColumn').a.text
imn1

In [ ]:
iallmn = []
for i in f12.find_all('td',class_='titleColumn'):
    iallmn.append(i.a.text)
iallmn

In [ ]:
imy1 = f12.find('td',class_='titleColumn').span.text.strip('()')
imy1

In [ ]:
iallmy = []
for i in f12.find_all('td',class_='titleColumn'):
    iallmy.append(i.span.text.strip('()'))
iallmy

In [ ]:
imr1 = f12.find('td',class_='ratingColumn imdbRating').strong.text
imr1

In [ ]:
iallmr = []
for i in f12.find_all('td',class_='ratingColumn imdbRating'):
    iallmr.append(i.strong.text)
iallmr

In [ ]:
import pandas as pd
df18 = pd.DataFrame({'Movie Name':iallmn,'Year of Release':iallmy,'Rating for Movie':iallmr})
df18

In [ ]:
df20 = df18.iloc[0:50,:]
df20

# PROBLEM NO.1 HEADER TAGS IN WIKIPEDIA

In [ ]:
import requests
from bs4 import BeautifulSoup
page5 = requests.get('https://en.wikipedia.org/wiki/Main_Page')
page5

In [ ]:
f = BeautifulSoup(page5.content)
f

In [ ]:
wikiheader = f.find('span',class_='mw-headline')
wikiheader.text

In [ ]:
allwikiheader = []
for i in f.find_all('span',class_='mw-headline'):
    allwikiheader.append(i.text.strip())
allwikiheader

In [ ]:
import pandas as pd
df3 = pd.DataFrame({'Header':allwikiheader})
df3

# PROBLEM NO.4 - PRESIDENTS OF INDIA

In [ ]:
from bs4 import BeautifulSoup
import requests
page15 = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page15

In [ ]:
b6 = BeautifulSoup(page15.content)
b6

In [ ]:
prename = b6.find('h3')
prename.text

In [ ]:
allpresnames = []
for i in b6.find_all('h3'):
    allpresnames.append(i.text)
allpresnames

In [ ]:
tof = b6.find('p')
tof.text

In [ ]:
alltof = []
for i in b6.find_all('div',class_='presidentListing'):
    alltof.append(i.find_all('p')[0].text.split(':')[1])
alltof

In [ ]:
import pandas as pd
df24 = pd.DataFrame({'President Name':allpresnames,'Term of Office':alltof})
df24

# PROBLEM NO.5

#TOP 10 ODI TEAM IN MEN'S CRICKET

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page60 = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page60

In [ ]:
f60 = BeautifulSoup(page60.content)
f60

In [ ]:
table = f60.find('table',class_='table')
headers = table.find_all('th')
titles=[]
for i in headers:
    title = i.text
    titles.append(title)
titles

In [ ]:
df600 = pd.DataFrame(columns=titles)
df600

In [ ]:
rows = table.find_all('tr')
print(rows)

In [ ]:
for i in rows[1:]:
    data = i.find_all('td')
    row = [tr.text for tr in data]
    l=len(df600)
    df600.loc[l]=row

In [ ]:
df666 = df600.iloc[0:10,:]
df666

#TOP 10 ODI BATSMEN

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page72 = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
page72

In [ ]:
f72 = BeautifulSoup(page72.content)
f72

In [ ]:
table6 = f72.find('table',class_='table rankings-table')
headers6 = table6.find_all('th')
titles6=[]
for i in headers6:
    title6 = i.text
    titles6.append(title6)
titles6

In [ ]:
df606 = pd.DataFrame(columns=titles6)
df606

In [ ]:
rows6 = table6.find_all('tr')
print(rows6)

In [ ]:
for j in rows6[1:]:
    data6 = j.find_all('td')
    row6 = [tr.text for tr in data6]
    l6=len(df606)
    df606.loc[l6]=row6

In [ ]:
df612 = df606.iloc[0:10,0:4]
df612

#TOP 10 ODI BOWLERS

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page78 = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page78

In [ ]:
f78 = BeautifulSoup(page78.content)
f78

In [ ]:
table12 = f78.find('table',class_='table')
headers12 = table12.find_all('th')
titles12=[]
for i in headers12:
    title12 = i.text
    titles12.append(title12)
titles12

In [ ]:
df661 = pd.DataFrame(columns=titles12)
df661

In [ ]:
rows12 = table12.find_all('tr')
print(rows12)

In [ ]:
for k in rows12[1:]:
    data12 = k.find_all('td')
    row12 = [tr.text for tr in data12]
    l12=len(df661)
    df661.loc[l12]=row12

In [ ]:
df662 = df661.iloc[0:10,0:4]
df662

# PROBLEM NO.6

#TOP 10 ODI TEAM IN WOMEN'S CRICKET

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page84 = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page84

In [ ]:
f84 = BeautifulSoup(page84.content)
f84

In [ ]:
table18 = f84.find('table',class_='table')
headers18 = table18.find_all('th')
titles18=[]
for i in headers18:
    title18 = i.text
    titles18.append(title18)
titles18

In [ ]:
df100 = pd.DataFrame(columns=titles18)
df100

In [ ]:
rows18 = table18.find_all('tr')
print(rows18)

In [ ]:
for i in rows18[1:]:
    data18 = i.find_all('td')
    row18 = [tr.text for tr in data18]
    l18=len(df100)
    df100.loc[l18]=row18

In [ ]:
df101 = df100.iloc[0:10,:]
df101

#TOP 10 PLAYERS IN WOMEN'S CRICKET

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page90 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
page90

In [ ]:
f90 = BeautifulSoup(page90.content)
f90

In [ ]:
table19 = f90.find('table',class_='table rankings-table')
headers19 = table19.find_all('th')
titles19=[]
for i in headers19:
    title19 = i.text
    titles19.append(title19)
titles19

In [ ]:
df102 = pd.DataFrame(columns=titles19)
df102

In [ ]:
rows19 = table19.find_all('tr')
print(rows19)

In [ ]:
for j in rows19[1:]:
    data19 = j.find_all('td')
    row19 = [tr.text for tr in data19]
    l19=len(df102)
    df102.loc[l19]=row19

In [ ]:
df103 = df102.iloc[0:10,0:4]
df103

#TOP 10 ALLROUNDERS IN WOMEN'S CRICKET

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page96 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
page96

In [ ]:
f96 = BeautifulSoup(page96.content)
f96

In [ ]:
table20 = f96.find('table',class_='table rankings-table')
headers20 = table20.find_all('th')
titles20=[]
for i in headers20:
    title20 = i.text
    titles20.append(title20)
titles20

In [ ]:
df105 = pd.DataFrame(columns=titles20)
df105

In [ ]:
rows20 = table20.find_all('tr')
print(rows20)

In [ ]:
for k in rows20[1:]:
    data20 = k.find_all('td')
    row20 = [tr.text for tr in data20]
    l20=len(df105)
    df105.loc[l20]=row20

In [ ]:
df120 = df105.iloc[0:10,0:4]
df120