# PROBLEM NO.9 - DATA SCIENCE RECRUITERS - NAUKRI WEBSITE

In [14]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [15]:
driver1=webdriver.Chrome(r"chromedriver.exe")

In [16]:
driver1.get("https://www.naukri.com/hr-recruiters-consultants")

In [17]:
designation=driver1.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
designation.send_keys('Data Science')

In [18]:
search1=driver1.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
search1.click()

In [21]:
skil1=[]
for page in range(0,3):  
    skil1_tags=driver1.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')  
    for i in  skil1_tags:
        skil1.append(i.text)
    button1=driver1.find_element(By.XPATH,'//button[@class="grayBtn"]')
    button1.click()         
    time.sleep(3)
skil1

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics, Deep Learning, statistics, Data Analytics, Data Analysis, support vector machine',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL',
 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big',
 'Data Science',
 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End',
 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil',
 'Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript',
 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep',
 'Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi',
 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human',
 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager',
 'Oracle Dba, Data Science, Data Warehousing, ETL, Jupyter, Numpy, Data Transformation, Snowflake, Teradata, Python, Data Manipulation, Relational Databases',
 'Big Data, Hadoop, Data Analytics, Data Science',
 'Data Science, Python, Data Analytics',
 'React.js, Data Science, Java, Front End, Business Analytics, Backend, Tableau, Python, Qa Testing, Automation Testing',
 'Qlikview, Qlik Sense, Microsoft Azure, Power Bi, Data Science, Machine Learning',
 'Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing',
 'Data Science',
 'Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship',
 'Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining',
 'Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop',
 'Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring',
 'Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology',
 'Research, Digital Marketing, Analytics, Software Development, Data Science, Consulting',
 'Data Science, Artificial Intelligence, Machine Learning, Data Analytics',
 'Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js',
 'Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data',
 'Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data',
 'Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture',
 'Server Administartion, Verilog, Vhdl, Digital Marketing, Market Research, Property Research, Legal, It And Non It Recruitment, Logistics, Supply Chain, Bfsi',
 'Data Science, Machine Learning, Deep Learning, Accounting, Statistics',
 'Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience',
 'Ethical Hacking, Security Operations Center, SOC, Managed Services, Data Science, Machine Learning, Artificial Intelligence, Operations Research, Education',
 'Data Science, Artificial Intelligence, analytics, Business Intelligence, python, tableau, Power Bi, qlikview, sql, Data Warehousing, Data Visualization',
 'Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java',
 'C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++',
 'Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written',
 'Data Science, Software Engineering',
 'Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management',
 'Data Science, Recruitment, Salary',
 'B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview',
 'Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented',
 'Data Science, Node.js, Angularjs',
 'Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql',
 'Data Analysis, Learning, Data Science, Computer Science, Communication Skills',
 'Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata',
 'Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics',
 'Machine Learning, Data Science, Product Management, New Product, Data Analysis, Computer Vision, Deep Learning, Python, Remote Sensing',
 'Not Specified',
 'Data Science, Project Management, Power Bi, Business Analysis',
 'Business Analysis',
 'Data Science, Machine Learning, Big Data Analytics, Spark, Python, R, Networking, Network Engineering, Placement, Training, Sql, Marketing, Mainframes, All',
 'Software Professionals, Engineering, Technical Management, Financial Management, Human Resource Management, Banking, Google Adwords, Business Analysis, It',
 'Full Stack Developers, Product Manager, Data Science Engineer, Publishers Sales Manager',
 'c++, Core Java, kdb, high frequency trading, hft, direct market access, Algorithmic Trading, Quant Development, Market Data, Fpga, Exchange Connectivity',
 'Walmart Interra Skeps Expressstores indifi whitehatJr Practo Zylo Doctalk Medtrail',
 'Computer Science, Machine Learning, Deep Learning, Natural Language Processing, Computer Vision, Information Retrieval, Artificial Intelligence, Data Mining',
 'Analytics, Machine Learning, Data Science, Etl, Sas, Statistical Analysis, Statistical Modeling, Financial Modelling, Internal Audit, Actuarial, Quality',
 'Data Science, Machine Learning, Core Java, Javascript, Mean Stack, Full Satck, Unix, Linux Administration, C, C++, Network Security, .Net, Qa',
 'Leadership Hiring, Delivery Leadership, Business Analytics, Data Science, Data Analytics, Data Visualization, Data Modeling, Project Management',
 'Web Development, Data Science, Financial Analysis, Front End, Backend',
 'Cto, Program Management, Data Science, Artificial Intelligence, Firmware Development, Storage',
 'MNC Company',
 'c, c++, java, python, Big Data, hadoop, Android Development, bootstrap, jquery, angularjs, Html5, Html, Php, Core Java, Advanced Java, Data Science',
 'MNC, CMM Level Companies in India',
 'Ai, Data Science, Machine Learning, Deep Learning',
 'Python, Big Data, Data Science, Data, R, Learning',
 'Data Science, Project Management, Backend',
 'Business Analytics, Big Data Analytics, Hadoop, Tableau, Data Science, Business Development, Analytics Sales, Spark, Qlikview, D3.js, Python',
 'Information Technology, Machine Learning, Data Science, Artificial Intelligence, Training, Python, Online Training',
 'Analytics, Data Science',
 'Technical Support, sales, Career Counselling, training, Mechanical Engineering, Computer Science, Information Technology, Hardware Networking, Data Analytics',
 'Python, Data Science, Etl, Analytics',
 'Corporate Training, It Training, Education, Educational Marketing, Education Industry, Training, Java, .Net, Aws, Hadoop, Android, Salesforce, Salesforce.com',
 'Cryptography, Big Data, Data Science, Blockchain',
 'Content Writing, research, Software Services, Data Analysis, Analytics, Mechanical Engineering, Computer Science, It Management, Business Development, Business',
 'Wireless Communications, 3G/LTE/WiMAX, Broadcom Processors, device drivers in linux, Managerial Experience, Real Time Embedded Engineer',
 'Not Specified',
 'Data Analytics, Business Intelligence, Software Development, Database Administration, Sales, Inside Sales, Business Analytics, Financial Analysis, Ms Sql',
 'Clinical Sas Programming, Sas Programming, Adam',
 'Not Specified',
 'Big Data, Analytics, Machine Learning, Artificial Intelligence, Business Intelligence, Data Warehousing, Data Mining, Master Data Management, Data Management',
 'Analytics, Machine Learning, Big Data Analytics, Predictive Modeling, Advanced Analytics, Statistical Modeling',
 'Not Specified',
 'Analytics, Mdm, Data Science, Artificial Intelligence, Machine Learning, master data management, Software Development, java, Tibco, Javascript, J2ee, Jsp',
 'Not Specified',
 'Not Specified',
 'Not Specified',
 'Not Specified',
 'Training, Java Trainer, Android Trainer, Python Trainer, Bigdata Analyst, Php Trainer, Software Development, Counselling, Career Counselling, Student',
 'Not Specified',
 'Data Modeling, Data Wrangling, seaborn, eda, python, r, Data Science, ai, Machine Learning, Deep Learning, Neural Networks',
 'Data Science, Digital Marketing, Ux Design, Design, Marketing, Development',
 'Data Science, Data Engineering, Analytics, New Product Development, Python, Artificial Intelligence, Machine Learning, Solidity, Ui Development, Big Data, Data',
 'Freelance Recruitment, Big Data Analytics, Data Science, Data Warehousing, Power Bi, Hive, Pig, Spark, Big Data, SQL, Tensorflow, Pytorch, Machine Learning',
 'Data Science',
 'Data Science, Artificial Intelligence, analytics, Credit Analysis, Equity Research, Debt Capital Markets, Loan Processing Officers, It Developers',
 'Machine Learning, Data Science, Product Management, New Product, Data Analysis, Computer Vision, Deep Learning, Python, Remote Sensing',
 'Not Specified',
 'Data Science, Project Management, Power Bi, Business Analysis',
 'Business Analysis',
 'Data Science, Machine Learning, Big Data Analytics, Spark, Python, R, Networking, Network Engineering, Placement, Training, Sql, Marketing, Mainframes, All',
 'Software Professionals, Engineering, Technical Management, Financial Management, Human Resource Management, Banking, Google Adwords, Business Analysis, It',
 'Full Stack Developers, Product Manager, Data Science Engineer, Publishers Sales Manager',
 'c++, Core Java, kdb, high frequency trading, hft, direct market access, Algorithmic Trading, Quant Development, Market Data, Fpga, Exchange Connectivity',
 'Walmart Interra Skeps Expressstores indifi whitehatJr Practo Zylo Doctalk Medtrail',
 'Computer Science, Machine Learning, Deep Learning, Natural Language Processing, Computer Vision, Information Retrieval, Artificial Intelligence, Data Mining',
 'Analytics, Machine Learning, Data Science, Etl, Sas, Statistical Analysis, Statistical Modeling, Financial Modelling, Internal Audit, Actuarial, Quality',
 'Data Science, Machine Learning, Core Java, Javascript, Mean Stack, Full Satck, Unix, Linux Administration, C, C++, Network Security, .Net, Qa',
 'Leadership Hiring, Delivery Leadership, Business Analytics, Data Science, Data Analytics, Data Visualization, Data Modeling, Project Management',
 'Web Development, Data Science, Financial Analysis, Front End, Backend',
 'Cto, Program Management, Data Science, Artificial Intelligence, Firmware Development, Storage',
 'MNC Company',
 'c, c++, java, python, Big Data, hadoop, Android Development, bootstrap, jquery, angularjs, Html5, Html, Php, Core Java, Advanced Java, Data Science',
 'MNC, CMM Level Companies in India',
 'Ai, Data Science, Machine Learning, Deep Learning',
 'Python, Big Data, Data Science, Data, R, Learning',
 'Data Science, Project Management, Backend',
 'Business Analytics, Big Data Analytics, Hadoop, Tableau, Data Science, Business Development, Analytics Sales, Spark, Qlikview, D3.js, Python',
 'Information Technology, Machine Learning, Data Science, Artificial Intelligence, Training, Python, Online Training',
 'Analytics, Data Science',
 'Technical Support, sales, Career Counselling, training, Mechanical Engineering, Computer Science, Information Technology, Hardware Networking, Data Analytics',
 'Python, Data Science, Etl, Analytics',
 'Corporate Training, It Training, Education, Educational Marketing, Education Industry, Training, Java, .Net, Aws, Hadoop, Android, Salesforce, Salesforce.com',
 'Cryptography, Big Data, Data Science, Blockchain',
 'Content Writing, research, Software Services, Data Analysis, Analytics, Mechanical Engineering, Computer Science, It Management, Business Development, Business',
 'Wireless Communications, 3G/LTE/WiMAX, Broadcom Processors, device drivers in linux, Managerial Experience, Real Time Embedded Engineer',
 'Not Specified',
 'Data Analytics, Business Intelligence, Software Development, Database Administration, Sales, Inside Sales, Business Analytics, Financial Analysis, Ms Sql',
 'Clinical Sas Programming, Sas Programming, Adam',
 'Not Specified',
 'Big Data, Analytics, Machine Learning, Artificial Intelligence, Business Intelligence, Data Warehousing, Data Mining, Master Data Management, Data Management',
 'Analytics, Machine Learning, Big Data Analytics, Predictive Modeling, Advanced Analytics, Statistical Modeling',
 'Not Specified',
 'Analytics, Mdm, Data Science, Artificial Intelligence, Machine Learning, master data management, Software Development, java, Tibco, Javascript, J2ee, Jsp',
 'Not Specified',
 'Not Specified',
 'Not Specified',
 'Not Specified',
 'Training, Java Trainer, Android Trainer, Python Trainer, Bigdata Analyst, Php Trainer, Software Development, Counselling, Career Counselling, Student',
 'Not Specified',
 'Data Modeling, Data Wrangling, seaborn, eda, python, r, Data Science, ai, Machine Learning, Deep Learning, Neural Networks',
 'Data Science, Digital Marketing, Ux Design, Design, Marketing, Development',
 'Data Science, Data Engineering, Analytics, New Product Development, Python, Artificial Intelligence, Machine Learning, Solidity, Ui Development, Big Data, Data',
 'Freelance Recruitment, Big Data Analytics, Data Science, Data Warehousing, Power Bi, Hive, Pig, Spark, Big Data, SQL, Tensorflow, Pytorch, Machine Learning',
 'Data Science',
 'Data Science, Artificial Intelligence, analytics, Credit Analysis, Equity Research, Debt Capital Markets, Loan Processing Officers, It Developers']

In [23]:
print(len(skil1))

150

In [27]:
skill11=skil1[0:15]
skill11

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics, Deep Learning, statistics, Data Analytics, Data Analysis, support vector machine',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL',
 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big',
 'Data Science',
 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End',
 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil',
 'Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript',
 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep',
 'Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi',
 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human',
 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager',
 'Oracle Dba, Data Science, Data Warehousing, ETL, Jupyter, Numpy, Data Transformation, Snowflake, Teradata, Python, Data Manipulation, Relational Databases']

In [28]:
print(len(skill11))

15

In [6]:
url1=[]
for page in range (0,3):
    url=driver1.find_elements(By.XPATH,'//a[@class="ellipsis"][1]')
    for i in url:
        url1.append(i.get_attribute('href'))
    button1=driver1.find_element(By.XPATH,'//button[@class="grayBtn"]')
    button1.click()
    time.sleep(3)
url1

['https://www.naukri.com/recruiters/aakashharit-1986742?xid=167872015176048100&xp=1',
 'https://www.naukri.com/recruiters/shravankumargaddam-353487?xid=167872015176048100&xp=2',
 'https://www.naukri.com/recruiters/marsiantech?xid=167872015176048100&xp=3',
 'https://www.naukri.com/recruiters/anikagrawal-3647208?xid=167872015176048100&xp=4',
 'https://www.naukri.com/recruiters/LXP-DATASCIENCE?xid=167872015176048100&xp=5',
 'https://www.naukri.com/recruiters/abhishekyadav-3450244?xid=167872015176048100&xp=6',
 'https://www.naukri.com/recruiters/menakav-3213816?xid=167872015176048100&xp=7',
 'https://www.naukri.com/recruiters/techvantage?xid=167872015176048100&xp=8',
 'https://www.naukri.com/recruiters/asiflucknowi-4331110?xid=167872015176048100&xp=9',
 'https://www.naukri.com/recruiters/instafinancials-humanresource?xid=167872015176048100&xp=10',
 'https://www.naukri.com/recruiters/kalpana-2078894?xid=167872015176048100&xp=11',
 'https://www.naukri.com/recruiters/mubarak-2905498?xid=167872015176048100&xp=12',
 'https://www.naukri.com/recruiters/quantmagnum?xid=167872015176048100&xp=13',
 'https://www.naukri.com/recruiters/maheshbabuchanna-1803238?xid=167872015176048100&xp=14',
 'https://www.naukri.com/recruiters/priyankaakiri-5010064?xid=167872015176048100&xp=15',
 'https://www.naukri.com/recruiters/kapildevang-3169734?xid=167872015176048100&xp=16',
 'https://www.naukri.com/recruiters/vaishnavikudalkar-5205628?xid=167872015176048100&xp=17',
 'https://www.naukri.com/recruiters/sakshichhikara?xid=167872015176048100&xp=18',
 'https://www.naukri.com/recruiters/ruchidhote?xid=167872015176048100&xp=19',
 'https://www.naukri.com/recruiters/manishayadav-4463916?xid=167872015176048100&xp=20',
 'https://www.naukri.com/recruiters/riyarajesh-4375878?xid=167872015176048100&xp=21',
 'https://www.naukri.com/recruiters/rashmibhattacharjee-3921774?xid=167872015176048100&xp=22',
 'https://www.naukri.com/recruiters/faizankareem-3685102?xid=167872015176048100&xp=23',
 'https://www.naukri.com/recruiters/rithikadadwal-3517898?xid=167872015176048100&xp=24',
 'https://www.naukri.com/recruiters/ankitshah-21129?xid=167872015176048100&xp=25',
 'https://www.naukri.com/recruiters/shaunrao-3020604?xid=167872015176048100&xp=26',
 'https://www.naukri.com/recruiters/deeparchisharma?xid=167872015176048100&xp=27',
 'https://www.naukri.com/recruiters/azaharshaikh-companyrecruiter?xid=167872015176048100&xp=28',
 'https://www.naukri.com/recruiters/manas-3159036?xid=167872015176048100&xp=29',
 'https://www.naukri.com/recruiters/kumar-3378892?xid=167872015176048100&xp=30',
 'https://www.naukri.com/recruiters/sunilvedula-3392046?xid=167872015176048100&xp=31',
 'https://www.naukri.com/recruiters/rajatkumar-3295096?xid=167872015176048100&xp=32',
 'https://www.naukri.com/recruiters/dhruvdevdubey?xid=167872015176048100&xp=33',
 'https://www.naukri.com/recruiters/avnishmishra-5310575?xid=167872015176048100&xp=34',
 'https://www.naukri.com/recruiters/jayanthn-3081850?xid=167872015176048100&xp=35',
 'https://www.naukri.com/recruiters/nikithapalaparthi-5172698?xid=167872015176048100&xp=36',
 'https://www.naukri.com/recruiters/priyakhare-4894796?xid=167872015176048100&xp=37',
 'https://www.naukri.com/recruiters/amitsharma-4238940?xid=167872015176048100&xp=38',
 'https://www.naukri.com/recruiters/deepali002g?xid=167872015176048100&xp=39',
 'https://www.naukri.com/recruiters/shashikantchaudhary-4164854?xid=167872015176048100&xp=40',
 'https://www.naukri.com/recruiters/brad-4068508?xid=167872015176048100&xp=41',
 'https://www.naukri.com/recruiters/rutujapawar?xid=167872015176048100&xp=42',
 'https://www.naukri.com/recruiters/madhusudhansridhar-2705338?xid=167872015176048100&xp=43',
 'https://www.naukri.com/recruiters/ankitsinha-3398798?xid=167872015176048100&xp=44',
 'https://www.naukri.com/recruiters/gauravchouhan?xid=167872015176048100&xp=45',
 'https://www.naukri.com/recruiters/impel?xid=167872015176048100&xp=46',
 'https://www.naukri.com/recruiters/ashwini-3434922?xid=167872015176048100&xp=47',
 'https://www.naukri.com/recruiters/balajikolli-2870676?xid=167872015176048100&xp=48',
 'https://www.naukri.com/recruiters/rajaninagaraj-3387578?xid=167872015176048100&xp=49',
 'https://www.naukri.com/recruiters/rohitkumar-3277680?xid=167872015176048100&xp=50',
 'https://www.naukri.com/recruiters/amirchowdhury-2925314?xid=167872016511402400&xp=1',
 'https://www.naukri.com/recruiters/shailajan-3766340?xid=167872016511402400&xp=2',
 'https://www.naukri.com/recruiters/shahulhameedaa-5505381?xid=167872016511402400&xp=3',
 'https://www.naukri.com/recruiters/vidyabhushansingh?xid=167872016511402400&xp=4',
 'https://www.naukri.com/recruiters/sreedhar-3824102?xid=167872016511402400&xp=5',
 'https://www.naukri.com/recruiters/sunnysharma-mumbai?xid=167872016511402400&xp=6',
 'https://www.naukri.com/recruiters/lamasagar?xid=167872016511402400&xp=7',
 'https://www.naukri.com/recruiters/danielvaz?xid=167872016511402400&xp=8',
 'https://www.naukri.com/recruiters/priyaranjanmishra-4206690?xid=167872016511402400&xp=9',
 'https://www.naukri.com/recruiters/drsprasannadevi-3943244?xid=167872016511402400&xp=10',
 'https://www.naukri.com/recruiters/rajni-1291486?xid=167872016511402400&xp=11',
 'https://www.naukri.com/recruiters/preetim-2405036?xid=167872016511402400&xp=12',
 'https://www.naukri.com/recruiters/seniorrecruiter-3792750?xid=167872016511402400&xp=13',
 'https://www.naukri.com/recruiters/sampatel-4406340?xid=167872016511402400&xp=14',
 'https://www.naukri.com/recruiters/vivekkapadia-4242620?xid=167872016511402400&xp=15',
 'https://www.naukri.com/recruiters/qcheck?xid=167872016511402400&xp=16',
 'https://www.naukri.com/recruiters/aptechcomputereducation-4008860?xid=167872016511402400&xp=17',
 'https://www.naukri.com/recruiters/macherlasureshkumar-3441132?xid=167872016511402400&xp=18',
 'https://www.naukri.com/recruiters/digitalai?xid=167872016511402400&xp=19',
 'https://www.naukri.com/recruiters/gujaratitsolution-3185500?xid=167872016511402400&xp=20',
 'https://www.naukri.com/recruiters/santhoshnagaiah-4385586?xid=167872016511402400&xp=21',
 'https://www.naukri.com/recruiters/ranjitr?xid=167872016511402400&xp=22',
 'https://www.naukri.com/recruiters/prashanth-4378786?xid=167872016511402400&xp=23',
 'https://www.naukri.com/recruiters/arunimdas-4348820?xid=167872016511402400&xp=24',
 'https://www.naukri.com/recruiters/kogila-4263502?xid=167872016511402400&xp=25',
 'https://www.naukri.com/recruiters/gurpreetkhera-3393498?xid=167872016511402400&xp=26',
 'https://www.naukri.com/recruiters/NareshIT?xid=167872016511402400&xp=27',
 'https://www.naukri.com/recruiters/rajpaltyagi-3359590?xid=167872016511402400&xp=28',
 'https://www.naukri.com/recruiters/UrviKumar-AugmentSystems?xid=167872016511402400&xp=29',
 'https://www.naukri.com/recruiters/vikrampethe-2305540?xid=167872016511402400&xp=30',
 'https://www.naukri.com/recruiters/umamaheswari-2460264?xid=167872016511402400&xp=31',
 'https://www.naukri.com/recruiters/instafinancials?xid=167872016511402400&xp=32',
 'https://www.naukri.com/recruiters/shyampasumarthy-2127712?xid=167872016511402400&xp=33',
 'https://www.naukri.com/recruiters/akashkulkarni-4360118?xid=167872016511402400&xp=34',
 'https://www.naukri.com/recruiters/anandh-3356608?xid=167872016511402400&xp=35',
 'https://www.naukri.com/recruiters/leenanothani-3739650?xid=167872016511402400&xp=36',
 'https://www.naukri.com/recruiters/sanchitgarg-3173638?xid=167872016511402400&xp=37',
 'https://www.naukri.com/recruiters/businessbrio?xid=167872016511402400&xp=38',
 'https://www.naukri.com/recruiters/mamtarawat-3793596?xid=167872016511402400&xp=39',
 'https://www.naukri.com/recruiters/sandeepseth-2493028?xid=167872016511402400&xp=40',
 'https://www.naukri.com/recruiters/mamtarawat-3786916?xid=167872016511402400&xp=41',
 'https://www.naukri.com/recruiters/pradeep-3368096?xid=167872016511402400&xp=42',
 'https://www.naukri.com/recruiters/sorav-907707?xid=167872016511402400&xp=43',
 'https://www.naukri.com/recruiters/HRAlgoSquare?xid=167872016511402400&xp=44',
 'https://www.naukri.com/recruiters/narasimha-5070962?xid=167872016511402400&xp=45',
 'https://www.naukri.com/recruiters/venkatc?xid=167872016511402400&xp=46',
 'https://www.naukri.com/recruiters/srinivasanalagurajan?xid=167872016511402400&xp=47',
 'https://www.naukri.com/recruiters/aneela?xid=167872016511402400&xp=48',
 'https://www.naukri.com/recruiters/priyankabalodi?xid=167872016511402400&xp=49',
 'https://www.naukri.com/recruiters/snomvi-5201450?xid=167872016511402400&xp=50',
 'https://www.naukri.com/recruiters/aakashharit-1986742?xid=167872017149805000&xp=1',
 'https://www.naukri.com/recruiters/shravankumargaddam-353487?xid=167872017149805000&xp=2',
 'https://www.naukri.com/recruiters/marsiantech?xid=167872017149805000&xp=3',
 'https://www.naukri.com/recruiters/anikagrawal-3647208?xid=167872017149805000&xp=4',
 'https://www.naukri.com/recruiters/LXP-DATASCIENCE?xid=167872017149805000&xp=5',
 'https://www.naukri.com/recruiters/abhishekyadav-3450244?xid=167872017149805000&xp=6',
 'https://www.naukri.com/recruiters/menakav-3213816?xid=167872017149805000&xp=7',
 'https://www.naukri.com/recruiters/techvantage?xid=167872017149805000&xp=8',
 'https://www.naukri.com/recruiters/asiflucknowi-4331110?xid=167872017149805000&xp=9',
 'https://www.naukri.com/recruiters/instafinancials-humanresource?xid=167872017149805000&xp=10',
 'https://www.naukri.com/recruiters/kalpana-2078894?xid=167872017149805000&xp=11',
 'https://www.naukri.com/recruiters/mubarak-2905498?xid=167872017149805000&xp=12',
 'https://www.naukri.com/recruiters/quantmagnum?xid=167872017149805000&xp=13',
 'https://www.naukri.com/recruiters/maheshbabuchanna-1803238?xid=167872017149805000&xp=14',
 'https://www.naukri.com/recruiters/priyankaakiri-5010064?xid=167872017149805000&xp=15',
 'https://www.naukri.com/recruiters/kapildevang-3169734?xid=167872017149805000&xp=16',
 'https://www.naukri.com/recruiters/vaishnavikudalkar-5205628?xid=167872017149805000&xp=17',
 'https://www.naukri.com/recruiters/sakshichhikara?xid=167872017149805000&xp=18',
 'https://www.naukri.com/recruiters/ruchidhote?xid=167872017149805000&xp=19',
 'https://www.naukri.com/recruiters/manishayadav-4463916?xid=167872017149805000&xp=20',
 'https://www.naukri.com/recruiters/riyarajesh-4375878?xid=167872017149805000&xp=21',
 'https://www.naukri.com/recruiters/rashmibhattacharjee-3921774?xid=167872017149805000&xp=22',
 'https://www.naukri.com/recruiters/faizankareem-3685102?xid=167872017149805000&xp=23',
 'https://www.naukri.com/recruiters/rithikadadwal-3517898?xid=167872017149805000&xp=24',
 'https://www.naukri.com/recruiters/ankitshah-21129?xid=167872017149805000&xp=25',
 'https://www.naukri.com/recruiters/shaunrao-3020604?xid=167872017149805000&xp=26',
 'https://www.naukri.com/recruiters/deeparchisharma?xid=167872017149805000&xp=27',
 'https://www.naukri.com/recruiters/azaharshaikh-companyrecruiter?xid=167872017149805000&xp=28',
 'https://www.naukri.com/recruiters/manas-3159036?xid=167872017149805000&xp=29',
 'https://www.naukri.com/recruiters/kumar-3378892?xid=167872017149805000&xp=30',
 'https://www.naukri.com/recruiters/sunilvedula-3392046?xid=167872017149805000&xp=31',
 'https://www.naukri.com/recruiters/rajatkumar-3295096?xid=167872017149805000&xp=32',
 'https://www.naukri.com/recruiters/dhruvdevdubey?xid=167872017149805000&xp=33',
 'https://www.naukri.com/recruiters/avnishmishra-5310575?xid=167872017149805000&xp=34',
 'https://www.naukri.com/recruiters/jayanthn-3081850?xid=167872017149805000&xp=35',
 'https://www.naukri.com/recruiters/nikithapalaparthi-5172698?xid=167872017149805000&xp=36',
 'https://www.naukri.com/recruiters/priyakhare-4894796?xid=167872017149805000&xp=37',
 'https://www.naukri.com/recruiters/amitsharma-4238940?xid=167872017149805000&xp=38',
 'https://www.naukri.com/recruiters/deepali002g?xid=167872017149805000&xp=39',
 'https://www.naukri.com/recruiters/shashikantchaudhary-4164854?xid=167872017149805000&xp=40',
 'https://www.naukri.com/recruiters/brad-4068508?xid=167872017149805000&xp=41',
 'https://www.naukri.com/recruiters/rutujapawar?xid=167872017149805000&xp=42',
 'https://www.naukri.com/recruiters/madhusudhansridhar-2705338?xid=167872017149805000&xp=43',
 'https://www.naukri.com/recruiters/ankitsinha-3398798?xid=167872017149805000&xp=44',
 'https://www.naukri.com/recruiters/gauravchouhan?xid=167872017149805000&xp=45',
 'https://www.naukri.com/recruiters/impel?xid=167872017149805000&xp=46',
 'https://www.naukri.com/recruiters/ashwini-3434922?xid=167872017149805000&xp=47',
 'https://www.naukri.com/recruiters/balajikolli-2870676?xid=167872017149805000&xp=48',
 'https://www.naukri.com/recruiters/rajaninagaraj-3387578?xid=167872017149805000&xp=49',
 'https://www.naukri.com/recruiters/rohitkumar-3277680?xid=167872017149805000&xp=50']

In [7]:
print(len(url1))

150

In [9]:
name1=[]
for i in url1[0:15]:
    driver1.get(i)
    time.sleep(3)
    try:
        name1_tag=driver1.find_element(By.XPATH,'//h1[@class="fl ellipsis wLimit hd"]')
        name1.append(name1_tag.text)
    except NoSuchElementException:
        name1.append('-')
name1

['Aakash Harit',
 'shravan Kumar Gaddam',
 'MARSIAN Technologies LLP',
 'Anik Agrawal',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and APAC',
 'Institute for Financial Management and Research',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Mahesh Babu Channa',
 'Priyanka Akiri']

In [10]:
des1=[]
for i in url1[0:15]:
    driver1.get(i)
    time.sleep(3)
    try:
        des1_tag=driver1.find_element(By.XPATH,'//div[@class="ellipsis"]')
        des1.append(des1_tag.text)
    except NoSuchElementException:
        des1.append('-')
des1

['HR Manager',
 'Company Recruiter',
 'Company HR',
 'Company Recruiter',
 'Founder & CEO',
 'Recruitment - Lead Consultant',
 'Programme Manager',
 'HR Administrator',
 'Director',
 'Human Resource',
 'Executive Hiring',
 'Company HR',
 'Company HR',
 'HR Team Lead',
 'HR Manager']

In [11]:
com1=[]
for i in url1[0:15]:
    driver1.get(i)
    time.sleep(3)
    try:
        com1_tag=driver1.find_element(By.XPATH,'//div[@class="rFrame fl infoWrapper"]/div[4]')
        com1.append(com1_tag.text)
    except NoSuchElementException:
        com1.append('-')
com1

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'MARSIAN Technologies LLP',
 'Enerlytics Software Solutions Pvt Ltd',
 'LibraryXProject',
 'Apidel Technologies Division of Transpower',
 'IFMR',
 'Techvantage Systems Pvt Ltd',
 'Weupskill- Live Wire India',
 'CBL Data Science Private Limited',
 'Innominds Software',
 'MoneyTap',
 'QuantMagnum Technologies Pvt. Ltd.',
 'SocialPrachar.com',
 'Infinitive Software Solutions']

In [12]:
loc1=[]
for i in url1[0:15]:
    driver1.get(i)
    time.sleep(3)
    try:
        loc1_tag=driver1.find_element(By.XPATH,'//div[@class="rFrame fl infoWrapper"]/div[5]')
        loc1.append(loc1_tag.text)
    except NoSuchElementException:
        loc1.append('-')
loc1

['Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Ahmedabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Hyderabad']

In [29]:
df1=pd.DataFrame({'NAME':name1,'DESIGNATION':des1,'COMPANY':com1,'LOCATION':loc1,'SKILL THEY HIRE FOR':skill11})
df1

,NAME,DESIGNATION,COMPANY,LOCATION,SKILL THEY HIRE FOR
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder & CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and APAC,Recruitment - Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Research,Programme Manager,IFMR,Chennai,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
10,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
11,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
14,Priyanka Akiri,HR Manager,Infinitive Software Solutions,Hyderabad,"Oracle Dba, Data Science, Data Warehousing, ET..."

# PROBLEM NO.1 - MOST VIEWED VIDEOS IN YOUTUBE FROM WIKIPEDIA

In [30]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [31]:
driver2=webdriver.Chrome(r"chromedriver.exe")

In [32]:
driver2.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [33]:
rank2=[]
rank2tag=driver2.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
for i in rank2tag:
    rank2.append(i.text)
rank2

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [39]:
name2=[]
name2tag=driver2.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
for i in name2tag:
    name2.append(i.text)
name2

['"Baby Shark Dance"[4]',
 '"Despacito"[7]',
 '"Johny Johny Yes Papa"[14]',
 '"Bath Song"[15]',
 '"Shape of You"[16]',
 '"See You Again"[18]',
 '"Phonics Song with Two Words"[23]',
 '"Wheels on the Bus"[24]',
 '"Uptown Funk"[25]',
 '"Learning Colors  Colorful Eggs on a Farm"[26]',
 '"Gangnam Style"[27]',
 '"Masha and the Bear  Recipe for Disaster"[32]',
 '"Dame Tu Cosita"[33]',
 '"Sugar"[34]',
 '"Axel F"[35]',
 '"Roar"[36]',
 '"Counting Stars"[37]',
 '"Sorry"[38]',
 '"Thinking Out Loud"[39]',
 '"Baa Baa Black Sheep"[40]',
 '"Waka Waka (This Time for Africa)"[41]',
 '"Dark Horse"[42]',
 '"Faded"[43]',
 '"Let Her Go"[44]',
 '"Girls Like You"[45]',
 '"Perfect"[46]',
 '"Bailando"[47]',
 '"Lean On"[48]',
 '"Lakdi Ki Kathi"[49]',
 '"Humpty the train on a fruits ride"[50]']

In [40]:
art2=[]
art2tag=driver2.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
for i in art2tag:
    art2.append(i.text)
art2

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Cocomelon  Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'ChuChu TV',
 'Cocomelon  Nursery Rhymes',
 'Mark Ronson',
 'Miroshka TV',
 'Psy',
 'Get Movies',
 'El Chombo',
 'Maroon 5',
 'Crazy Frog',
 'Katy Perry',
 'OneRepublic',
 'Justin Bieber',
 'Ed Sheeran',
 'Cocomelon  Nursery Rhymes',
 'Shakira',
 'Katy Perry',
 'Alan Walker',
 'Passenger',
 'Maroon 5',
 'Ed Sheeran',
 'Enrique Iglesias',
 'Major Lazer',
 'Jingle Toons',
 'Kiddiestv Hindi  Nursery Rhymes & Kids Songs']

In [42]:
v2=[]
v2tag=driver2.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
for i in v2tag:
    v2.append(i.text)
v2

['12.37',
 '8.09',
 '6.63',
 '6.03',
 '5.92',
 '5.79',
 '5.17',
 '4.95',
 '4.84',
 '4.83',
 '4.70',
 '4.53',
 '4.24',
 '3.82',
 '3.76',
 '3.73',
 '3.73',
 '3.63',
 '3.55',
 '3.51',
 '3.48',
 '3.45',
 '3.41',
 '3.38',
 '3.37',
 '3.37',
 '3.34',
 '3.33',
 '3.32',
 '3.31']

In [43]:
ud2=[]
ud2tag=driver2.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
for i in ud2tag:
    ud2.append(i.text)
ud2

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'March 6, 2014',
 'May 24, 2018',
 'November 19, 2014',
 'February 27, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'January 14, 2015',
 'June 16, 2009',
 'September 5, 2013',
 'May 31, 2013',
 'October 22, 2015',
 'October 7, 2014',
 'June 25, 2018',
 'June 4, 2010',
 'February 20, 2014',
 'December 3, 2015',
 'July 25, 2012',
 'May 31, 2018',
 'November 9, 2017',
 'April 11, 2014',
 'March 22, 2015',
 'June 14, 2018',
 'January 26, 2018']

In [44]:
df2=pd.DataFrame({'RANK':rank2,'NAME':name2,'ARTIST':art2,'UPLOAD DATE':ud2,'VIEWS IN BILLIONS':v2})
df2

,RANK,NAME,ARTIST,UPLOAD DATE,VIEWS IN BILLIONS
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.37
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.09
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.63
3,4.,"""Bath Song""[15]",Cocomelon Nursery Rhymes,"May 2, 2018",6.03
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.92
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.79
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.17
7,8.,"""Wheels on the Bus""[24]",Cocomelon Nursery Rhymes,"May 24, 2018",4.95
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.84
9,10.,"""Learning Colors Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.83
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.70
11,12.,"""Masha and the Bear Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.53
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.24
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.82
14,15.,"""Axel F""[35]",Crazy Frog,"June 16, 2009",3.76
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.73
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.73
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.63
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.55
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon Nursery Rhymes,"June 25, 2018",3.51
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.48
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.45
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.41
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.38
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.37
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.37
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.34
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.33
28,29.,"""Lakdi Ki Kathi""[49]",Jingle Toons,"June 14, 2018",3.32
29,30.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi Nursery Rhymes & Kids Songs,"January 26, 2018",3.31

# PROBLEM NO.3 - STATE WISE GDP OF INDIA

In [45]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [46]:
driver3=webdriver.Chrome(r"chromedriver.exe")

In [47]:
driver3.get("http://statisticstimes.com/")

In [50]:
search3=driver3.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button")
search3.click()

In [51]:
search33=driver3.find_element(By.XPATH,"//div[@class='navbar']/div[2]/div/a[3]")
search33.click()

In [53]:
search333=driver3.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
search333.click()

In [54]:
rank3=[]
rank3tag=driver3.find_elements(By.XPATH,'//div[@class="fwidth"][3]/div/div/table/tbody/tr/td[1]')
for i in rank3tag:
    rank3.append(i.text)
rank3

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [55]:
state3=[]
state3tag=driver3.find_elements(By.XPATH,'//div[@class="fwidth"][3]/div/div/table/tbody/tr/td[2]')
for i in state3tag:
    state3.append(i.text)
state3

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [56]:
g19203=[]
g19203tag=driver3.find_elements(By.XPATH,'//div[@class="fwidth"][3]/div/div/table/tbody/tr/td[3]')
for i in g19203tag:
    g19203.append(i.text)
g19203

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-']

In [57]:
g18193=[]
g18193tag=driver3.find_elements(By.XPATH,'//div[@class="fwidth"][3]/div/div/table/tbody/tr/td[4]')
for i in g18193tag:
    g18193.append(i.text)
g18193

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [58]:
share3=[]
share3tag=driver3.find_elements(By.XPATH,'//div[@class="fwidth"][3]/div/div/table/tbody/tr/td[5]')
for i in share3tag:
    share3.append(i.text)
share3

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

In [59]:
gdp3=[]
gdp3tag=driver3.find_elements(By.XPATH,'//div[@class="fwidth"][3]/div/div/table/tbody/tr/td[6]')
for i in gdp3tag:
    gdp3.append(i.text)
gdp3

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-']

In [60]:
df3=pd.DataFrame({'RANK':rank3,'STATE':state3,'GSDP(18-19) AT CURRENT PRICES in Cr INR':g18193,'GSDP(19-20) AT CURRENT PRICES in Cr INR':g19203,'SHARE':share3,'GDP ($ BILLION)':gdp3})
df3

,RANK,STATE,GSDP(18-19) AT CURRENT PRICES in Cr INR,GSDP(19-20) AT CURRENT PRICES in Cr INR,SHARE,GDP ($ BILLION)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# PROBLEM NO. 4 - TRENDING REPOSITORIES IN GITHUB

In [13]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [14]:
driver4=webdriver.Chrome(r"chromedriver.exe")

In [15]:
driver4.get("https://github.com/")

In [16]:
search4=driver4.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
search4.click()

In [17]:
search44=driver4.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
search44.click()

In [18]:
repo4=[]
repo4tag=driver4.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
for i in repo4tag:
    repo4.append(i.text)
repo4

['togethercomputer / OpenChatKit',
 'ggerganov / llama.cpp',
 'AstroNvim / AstroNvim',
 'exaloop / codon',
 'Azure-Samples / azure-search-openai-demo',
 'davinci1012 / pinduoduo_backdoor_unpacker',
 'Postcatlab / postcat',
 'Bin-Huang / chatbox',
 'midudev / openui.com',
 'base-org / node',
 'kaixindelele / ChatPaper',
 'whoiskatrin / sql-translator',
 'microsoft / visual-chatgpt',
 'chathub-dev / chathub',
 'Genymobile / scrcpy',
 'TheAlgorithms / Python',
 'ccfos / nightingale',
 'tangly1024 / NotionNext',
 'svc-develop-team / so-vits-svc',
 'EbookFoundation / free-programming-books',
 'GanymedeNil / document.ai',
 'oobabooga / text-generation-webui',
 'ggerganov / whisper.cpp',
 'pgrok / pgrok',
 'ggerganov / ggml']

In [47]:
print(len(repo4))

25

In [20]:
url4=[]
url=driver4.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
for i in url:
    url4.append(i.get_attribute('href'))
url4

['https://github.com/togethercomputer/OpenChatKit',
 'https://github.com/ggerganov/llama.cpp',
 'https://github.com/AstroNvim/AstroNvim',
 'https://github.com/exaloop/codon',
 'https://github.com/Azure-Samples/azure-search-openai-demo',
 'https://github.com/davinci1012/pinduoduo_backdoor_unpacker',
 'https://github.com/Postcatlab/postcat',
 'https://github.com/Bin-Huang/chatbox',
 'https://github.com/midudev/openui.com',
 'https://github.com/base-org/node',
 'https://github.com/kaixindelele/ChatPaper',
 'https://github.com/whoiskatrin/sql-translator',
 'https://github.com/microsoft/visual-chatgpt',
 'https://github.com/chathub-dev/chathub',
 'https://github.com/Genymobile/scrcpy',
 'https://github.com/TheAlgorithms/Python',
 'https://github.com/ccfos/nightingale',
 'https://github.com/tangly1024/NotionNext',
 'https://github.com/svc-develop-team/so-vits-svc',
 'https://github.com/EbookFoundation/free-programming-books',
 'https://github.com/GanymedeNil/document.ai',
 'https://github.com/oobabooga/text-generation-webui',
 'https://github.com/ggerganov/whisper.cpp',
 'https://github.com/pgrok/pgrok',
 'https://github.com/ggerganov/ggml']

In [21]:
print(len(url4))

25

In [37]:
desc4=[]
try:
    des4tag=driver4.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in des4tag:
          desc4.append(i.text)
except NoSuchElementException:
    desc4.append('-')
desc4

["Port of Facebook's LLaMA model in C/C++",
 'AstroNvim is an aesthetic and feature-rich neovim config that is extensible and easy to use with a great set of plugins',
 'A high-performance, zero-overhead, extensible Python compiler using LLVM',
 'Demonstration of how to leverage Azure OpenAI and Cognitive Search to enable Information Search and Discovery over organizational content',
 'Samples and Unpacker of malicious backdoors and exploits developed and used by Pinduoduo',
 'Postcat  API  API  API  APIAn extensible API tool.',
 'a cross-platform desktop client for OpenAI API, also a prompt debugging and management tool.',
 'Generador de componentes de UI con IA',
 'Everything required to run your own Base node',
 'Use ChatGPT to summarize the arXiv papers.',
 'SQL Translator is a tool for converting natural language queries into SQL code using artificial intelligence. This project is 100% free and open source.',
 'Official repo for the paper: Visual ChatGPT: Talking, Drawing and Editing with Visual Foundation Models',
 'All-in-one chatbot client',
 'Display and control your Android device',
 'All Algorithms implemented in Python',
 'An enterprise-level cloud-native monitoring system, which can be used as drop-in replacement of Prometheus for alerting and Grafana for visualization.',
 ' NextJS + Notion API  Vercel Notion',
 'SoftVC VITS Singing Voice Conversion',
 ' Freely available programming books',
 'GPT3.5(A universal local knowledge base solution based on vector database and GPT3.5)',
 'A gradio web UI for running Large Language Models like GPT-J 6B, OPT, GALACTICA, LLaMA, and Pygmalion.',
 "Port of OpenAI's Whisper model in C/C++",
 "Poor man's ngrok - a multi-tenant HTTP reverse tunnel solution through SSH remote port forwarding",
 'Tensor library for machine learning']

In [38]:
print(len(desc4))

24

In [39]:
desc4.insert(0,'-')
desc4

['-',
 "Port of Facebook's LLaMA model in C/C++",
 'AstroNvim is an aesthetic and feature-rich neovim config that is extensible and easy to use with a great set of plugins',
 'A high-performance, zero-overhead, extensible Python compiler using LLVM',
 'Demonstration of how to leverage Azure OpenAI and Cognitive Search to enable Information Search and Discovery over organizational content',
 'Samples and Unpacker of malicious backdoors and exploits developed and used by Pinduoduo',
 'Postcat  API  API  API  APIAn extensible API tool.',
 'a cross-platform desktop client for OpenAI API, also a prompt debugging and management tool.',
 'Generador de componentes de UI con IA',
 'Everything required to run your own Base node',
 'Use ChatGPT to summarize the arXiv papers.',
 'SQL Translator is a tool for converting natural language queries into SQL code using artificial intelligence. This project is 100% free and open source.',
 'Official repo for the paper: Visual ChatGPT: Talking, Drawing and Editing with Visual Foundation Models',
 'All-in-one chatbot client',
 'Display and control your Android device',
 'All Algorithms implemented in Python',
 'An enterprise-level cloud-native monitoring system, which can be used as drop-in replacement of Prometheus for alerting and Grafana for visualization.',
 ' NextJS + Notion API  Vercel Notion',
 'SoftVC VITS Singing Voice Conversion',
 ' Freely available programming books',
 'GPT3.5(A universal local knowledge base solution based on vector database and GPT3.5)',
 'A gradio web UI for running Large Language Models like GPT-J 6B, OPT, GALACTICA, LLaMA, and Pygmalion.',
 "Port of OpenAI's Whisper model in C/C++",
 "Poor man's ngrok - a multi-tenant HTTP reverse tunnel solution through SSH remote port forwarding",
 'Tensor library for machine learning']

In [48]:
print(len(desc4))

25

In [9]:
con4=[]
for i in url4:
    driver4.get(i)
    time.sleep(3)
    try:
        contag4=driver4.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[4]/div/h2/a/span')
        con4.append(contag4.text)
    except NoSuchElementException:
        con4.append('-')
con4

['7',
 '17',
 '-',
 '7',
 '-',
 '-',
 '-',
 '9',
 '-',
 '-',
 '-',
 '-',
 '9',
 '-',
 '-',
 '',
 '-',
 '-',
 '9',
 '2,496',
 '-',
 '',
 '65',
 '6',
 '3']

In [49]:
print(len(con4))

25

In [43]:
prolan4=[]
try:
    prolantag4=driver4.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]/span[2]')
    for i in prolantag4:
        prolan4.append(i.text)
except NoSuchElementException:
    prolan4.append('-')
prolan4

['Python',
 'C',
 'Lua',
 'C++',
 'Python',
 'Java',
 'JavaScript',
 'TypeScript',
 'JavaScript',
 'Shell',
 'Python',
 'TypeScript',
 'Python',
 'TypeScript',
 'C',
 'Python',
 'Go',
 'JavaScript',
 'Python',
 'Python',
 'Python',
 'C',
 'Go',
 'C']

In [44]:
prolan4.insert(14,'-')
prolan4

['Python',
 'C',
 'Lua',
 'C++',
 'Python',
 'Java',
 'JavaScript',
 'TypeScript',
 'JavaScript',
 'Shell',
 'Python',
 'TypeScript',
 'Python',
 'TypeScript',
 '-',
 'C',
 'Python',
 'Go',
 'JavaScript',
 'Python',
 'Python',
 'Python',
 'C',
 'Go',
 'C']

In [50]:
print(len(prolan4))

25

In [52]:
df4=pd.DataFrame({'Repository Title':repo4,'Repository Description':desc4,'Contribution Count':con4,'Language Used':prolan4})
df4

,Repository Title,Repository Description,Contribution Count,Language Used
0,togethercomputer / OpenChatKit,-,7,Python
1,ggerganov / llama.cpp,Port of Facebook's LLaMA model in C/C++,17,C
2,AstroNvim / AstroNvim,AstroNvim is an aesthetic and feature-rich neo...,-,Lua
3,exaloop / codon,"A high-performance, zero-overhead, extensible ...",7,C++
4,Azure-Samples / azure-search-openai-demo,Demonstration of how to leverage Azure OpenAI ...,-,Python
5,davinci1012 / pinduoduo_backdoor_unpacker,Samples and Unpacker of malicious backdoors an...,-,Java
6,Postcatlab / postcat,Postcat API API ...,-,JavaScript
7,Bin-Huang / chatbox,a cross-platform desktop client for OpenAI API...,9,TypeScript
8,midudev / openui.com,Generador de componentes de UI con IA,-,JavaScript
9,base-org / node,Everything required to run your own Base node,-,Shell
10,kaixindelele / ChatPaper,Use ChatGPT to summarize the arXiv papers.,-,Python
11,whoiskatrin / sql-translator,SQL Translator is a tool for converting natura...,-,TypeScript
12,microsoft / visual-chatgpt,Official repo for the paper: Visual ChatGPT: T...,9,Python
13,chathub-dev / chathub,All-in-one chatbot client,-,TypeScript
14,Genymobile / scrcpy,Display and control your Android device,-,-
15,TheAlgorithms / Python,All Algorithms implemented in Python,,C
16,ccfos / nightingale,An enterprise-level cloud-native monitoring sy...,-,Python
17,tangly1024 / NotionNext,NextJS + Notion API Vercel ...,-,Go
18,svc-develop-team / so-vits-svc,SoftVC VITS Singing Voice Conversion,9,JavaScript
19,EbookFoundation / free-programming-books,Freely available programming books,"2,496",Python
20,GanymedeNil / document.ai,GPT3.5(A universal local kno...,-,Python
21,oobabooga / text-generation-webui,A gradio web UI for running Large Language Mod...,,Python
22,ggerganov / whisper.cpp,Port of OpenAI's Whisper model in C/C++,65,C
23,pgrok / pgrok,Poor man's ngrok - a multi-tenant HTTP reverse...,6,Go
24,ggerganov / ggml,Tensor library for machine learning,3,C

# PROBLEM NO.5 - TOP 100 SONGS ON BILLBOARD

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver5=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver5.get("https://www.billboard.com/")

In [5]:
search50=driver5.find_element(By.XPATH,"/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button")
search50.click()

In [6]:
search51=driver5.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a")
search51.click()

In [7]:
search52=driver5.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a")
search52.click()

In [8]:
sn5=[]
sn5tag=driver5.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')
for i in sn5tag:
    sn5.append(i.text)
sn5

['Last Night',
 'Flowers',
 'Kill Bill',
 'Die For You',
 "Boy's A Liar, Pt. 2",
 "Creepin'",
 'Thought You Should Know',
 'You Proof',
 "Thinkin' Bout Me",
 'One Thing At A Time',
 "Ain't That Some",
 'Anti-Hero',
 'Red Ruby Da Sleeze',
 'Everything I Love',
 'Man Made A Bar',
 'Unholy',
 'TQG',
 'I Wrote The Book',
 'Calm Down',
 'Rock And A Hard Place',
 "I'm Good (Blue)",
 'Just Wanna Rock',
 'As It Was',
 'Players',
 'Cuff It',
 'Under The Influence',
 "'98 Braves",
 'Thank God',
 "Devil Don't Know",
 'Sunrise',
 'Lavender Haze',
 'Born With A Beer In My Hand',
 'Escapism',
 'Rich Flex',
 'Whiskey Friends',
 'Going, Going, Gone',
 'Sure Thing',
 'Tennessee Numbers',
 'Until I Found You',
 'Cowgirls',
 "Hope That's True",
 'Something In The Orange',
 'Dying Man',
 'Keith Whitley',
 'Superhero (Heroes & Villains)',
 'Snooze',
 'In The Bible',
 'Neon Star (Country Boy Lullaby)',
 'Golden Hour',
 'Shirt',
 'Me + All Your Reasons',
 'I Deserve A Drink',
 'F150-50',
 'Tennessee Fan',
 'Heart Like A Truck',
 'Single Than She Was',
 'Made You Look',
 'Wait In The Truck',
 'Wine Into Water',
 'On The Street',
 'Days That End In Why',
 'Painting Pictures',
 '180 (Lifestyle)',
 'Bebe Dame',
 'Last Drive Down Main',
 'Bloody Mary',
 'Favorite Song',
 'Spin Bout U',
 "Good Girl Gone Missin'",
 'Bzrp Music Sessions, Vol. 53',
 'Me To Me',
 'Money On Me',
 'Nobody Gets Me',
 'Love You Anyway',
 'Had It',
 'Outlook',
 "Don't Think Jesus",
 'Special',
 "What He Didn't Do",
 'Ceilings',
 'Wild As Her',
 'Watch This (ARIZONATEARS Pluggnb Remix)',
 'Handle On You',
 'Next Thing You Know',
 'In Ha Mood',
 'Freestyle',
 'Dawns',
 'Love Again',
 'Private Landing',
 'Que Vuelvas',
 'Tennessee Orange',
 'Low',
 'X Si Volvemos',
 'Trance',
 'Forever',
 'Nonsense',
 'AMG',
 'Lift Me Up',
 "You Didn't",
 '10:35']

In [10]:
print(len(sn5))

100

In [11]:
lwr5=[]
lwr5tag=driver5.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]')
for i in lwr5tag:
    lwr5.append(i.text)
lwr5

['5',
 '2',
 '3',
 '1',
 '4',
 '6',
 '13',
 '21',
 '-',
 '51',
 '-',
 '9',
 '-',
 '93',
 '-',
 '8',
 '7',
 '64',
 '15',
 '17',
 '11',
 '12',
 '14',
 '16',
 '10',
 '18',
 '-',
 '19',
 '-',
 '-',
 '23',
 '-',
 '22',
 '20',
 '-',
 '24',
 '28',
 '-',
 '27',
 '-',
 '-',
 '26',
 '-',
 '-',
 '30',
 '32',
 '-',
 '-',
 '31',
 '33',
 '-',
 '-',
 '-',
 '-',
 '29',
 '-',
 '34',
 '40',
 '-',
 '-',
 '-',
 '25',
 '-',
 '41',
 '-',
 '46',
 '44',
 '47',
 '-',
 '42',
 '-',
 '-',
 '43',
 '39',
 '-',
 '-',
 '-',
 '53',
 '54',
 '60',
 '58',
 '56',
 '55',
 '67',
 '69',
 '61',
 '52',
 '59',
 '72',
 '57',
 '70',
 '63',
 '48',
 '87',
 '76',
 '75',
 '80',
 '65',
 '78',
 '81']

In [12]:
print(len(lwr5))

100

In [13]:
pr5=[]
pr5tag=driver5.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]')
for i in pr5tag:
    pr5.append(i.text)
pr5

['1',
 '1',
 '2',
 '1',
 '3',
 '3',
 '7',
 '5',
 '9',
 '10',
 '11',
 '1',
 '13',
 '14',
 '15',
 '1',
 '7',
 '18',
 '15',
 '16',
 '4',
 '10',
 '1',
 '16',
 '6',
 '12',
 '27',
 '13',
 '29',
 '30',
 '2',
 '32',
 '22',
 '2',
 '35',
 '23',
 '28',
 '38',
 '23',
 '40',
 '41',
 '10',
 '43',
 '44',
 '8',
 '29',
 '47',
 '48',
 '10',
 '11',
 '51',
 '52',
 '53',
 '49',
 '29',
 '56',
 '11',
 '23',
 '59',
 '60',
 '57',
 '25',
 '63',
 '25',
 '65',
 '46',
 '44',
 '5',
 '69',
 '9',
 '71',
 '72',
 '10',
 '15',
 '75',
 '76',
 '7',
 '52',
 '53',
 '60',
 '58',
 '56',
 '55',
 '67',
 '68',
 '59',
 '42',
 '40',
 '72',
 '50',
 '53',
 '17',
 '48',
 '42',
 '8',
 '56',
 '66',
 '2',
 '63',
 '69']

In [14]:
print(len(pr5))

100

In [15]:
w5=[]
w5tag=driver5.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]')
for i in w5tag:
    w5.append(i.text)
w5

['6',
 '8',
 '13',
 '32',
 '5',
 '14',
 '30',
 '43',
 '1',
 '14',
 '1',
 '20',
 '1',
 '6',
 '1',
 '24',
 '2',
 '6',
 '27',
 '39',
 '28',
 '21',
 '49',
 '10',
 '30',
 '26',
 '1',
 '26',
 '1',
 '1',
 '20',
 '1',
 '14',
 '18',
 '1',
 '17',
 '32',
 '1',
 '36',
 '1',
 '1',
 '46',
 '1',
 '1',
 '14',
 '13',
 '1',
 '1',
 '28',
 '19',
 '1',
 '1',
 '1',
 '6',
 '17',
 '1',
 '20',
 '27',
 '1',
 '1',
 '2',
 '4',
 '1',
 '11',
 '1',
 '10',
 '3',
 '18',
 '1',
 '8',
 '1',
 '1',
 '13',
 '4',
 '1',
 '1',
 '6',
 '4',
 '12',
 '3',
 '22',
 '3',
 '10',
 '7',
 '5',
 '23',
 '6',
 '6',
 '2',
 '11',
 '13',
 '13',
 '5',
 '5',
 '9',
 '8',
 '7',
 '19',
 '9',
 '7']

In [16]:
print(len(w5))

100

In [17]:
a5=[]
a5tag=driver5.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span')
for i in a5tag:
    a5.append(i.text)
a5

['Morgan Wallen',
 'Miley Cyrus',
 'SZA',
 'The Weeknd & Ariana Grande',
 'PinkPantheress & Ice Spice',
 'Metro Boomin, The Weeknd & 21 Savage',
 'Morgan Wallen',
 'Morgan Wallen',
 'Morgan Wallen',
 'Morgan Wallen',
 'Morgan Wallen',
 'Taylor Swift',
 'Nicki Minaj',
 'Morgan Wallen',
 'Morgan Wallen Featuring Eric Church',
 'Sam Smith & Kim Petras',
 'Karol G x Shakira',
 'Morgan Wallen',
 'Rema & Selena Gomez',
 'Bailey Zimmerman',
 'David Guetta & Bebe Rexha',
 'Lil Uzi Vert',
 'Harry Styles',
 'Coi Leray',
 'Beyonce',
 'Chris Brown',
 'Morgan Wallen',
 'Kane Brown With Katelyn Brown',
 'Morgan Wallen',
 'Morgan Wallen',
 'Taylor Swift',
 'Morgan Wallen',
 'RAYE Featuring 070 Shake',
 'Drake & 21 Savage',
 'Morgan Wallen',
 'Luke Combs',
 'Miguel',
 'Morgan Wallen',
 'Stephen Sanchez',
 'Morgan Wallen Featuring ERNEST',
 'Morgan Wallen',
 'Zach Bryan',
 'Morgan Wallen',
 'Morgan Wallen',
 'Metro Boomin, Future & Chris Brown',
 'SZA',
 'Morgan Wallen Featuring HARDY',
 'Morgan Wallen',
 'JVKE',
 'SZA',
 'Morgan Wallen',
 'Morgan Wallen',
 'Morgan Wallen',
 'Morgan Wallen',
 'Lainey Wilson',
 'Morgan Wallen',
 'Meghan Trainor',
 'HARDY Featuring Lainey Wilson',
 'Morgan Wallen',
 'j-hope With J. Cole',
 'Morgan Wallen',
 'Superstar Pride',
 'Morgan Wallen',
 'Fuerza Regida X Grupo Frontera',
 'Morgan Wallen',
 'Lady Gaga',
 'Toosii',
 'Drake & 21 Savage',
 'Morgan Wallen',
 'Bizarrap & Shakira',
 'Morgan Wallen',
 'Morgan Wallen',
 'SZA',
 'Luke Combs',
 'Morgan Wallen',
 'Morgan Wallen',
 'Morgan Wallen',
 'Lizzo Featuring SZA',
 'Carly Pearce',
 'Lizzy McAlpine',
 'Corey Kent',
 'Lil Uzi Vert',
 'Parker McCollum',
 'Jordan Davis',
 'Ice Spice',
 'Lil Baby',
 'Zach Bryan Featuring Maggie Rogers',
 'The Kid LAROI',
 'Don Toliver Featuring Justin Bieber & Future',
 'Carin Leon X Grupo Frontera',
 'Megan Moroney',
 'SZA',
 'Karol G x Romeo Santos',
 'Metro Boomin, Travis Scott & Young Thug',
 'Lil Baby Featuring Fridayy',
 'Sabrina Carpenter',
 'Gabito Ballesteros, Peso Pluma & Natanael Cano',
 'Rihanna',
 'Brett Young',
 'Tiesto Featuring Tate McRae']

In [18]:
print(len(a5))

100

In [19]:
df5=pd.DataFrame({'Song Name':sn5,'Artist Name':a5,'Last Week Rank':lwr5,'Peak Rank':pr5,'Weeks on Board':w5})
df5

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Last Night,Morgan Wallen,5,1,6
1,Flowers,Miley Cyrus,2,1,8
2,Kill Bill,SZA,3,2,13
3,Die For You,The Weeknd & Ariana Grande,1,1,32
4,"Boy's A Liar, Pt. 2",PinkPantheress & Ice Spice,4,3,5
...,...,...,...,...,...
95,Nonsense,Sabrina Carpenter,75,56,8
96,AMG,"Gabito Ballesteros, Peso Pluma & Natanael Cano",80,66,7
97,Lift Me Up,Rihanna,65,2,19
98,You Didn't,Brett Young,78,63,9
99,10:35,Tiesto Featuring Tate McRae,81,69,7

# PROBLEM NO.6 - HIGHEST SELLING NOVELS

In [20]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [21]:
driver6=webdriver.Chrome(r"chromedriver.exe")

In [22]:
driver6.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [24]:
bname6=[]
bname6tag=driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in bname6tag:
    bname6.append(i.text)
bname6

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [25]:
print(len(bname6))

100

In [26]:
aname6=[]
aname6tag=driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in aname6tag:
    aname6.append(i.text)
aname6

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [27]:
print(len(aname6))

100

In [28]:
vname6=[]
vname6tag=driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in vname6tag:
    vname6.append(i.text)
vname6

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [29]:
print(len(vname6))

100

In [30]:
pname6=[]
pname6tag=driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in pname6tag:
    pname6.append(i.text)
pname6

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [31]:
print(len(pname6))

100

In [32]:
gname6=[]
gname6tag=driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in gname6tag:
    gname6.append(i.text)
gname6

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [33]:
print(len(gname6))

100

In [34]:
df6=pd.DataFrame({'Book Name':bname6,'Author Name':aname6,'Volumes Sold':vname6,'Publisher':pname6,'Genre':gname6})
df6

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# PROBLEM NO.7 - MOST WATCHED TV SERIES

In [35]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [37]:
driver7=webdriver.Chrome(r"chromedriver.exe")

In [38]:
driver7.get("http://www.imdb.com/list/ls095964455/")

In [39]:
name7=[]
name7tag=driver7.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
for i in name7tag:
    name7.append(i.text)
name7

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow',
 'Money Heist',
 'The Big Bang Theory',
 'Black Mirror',
 'Sherlock',
 'Vikings',
 'Pretty Little Liars',
 'The Vampire Diaries',
 'American Horror Story',
 'Breaking Bad',
 'Lucifer',
 'Supernatural',
 'Prison Break',
 'How to Get Away with Murder',
 'Teen Wolf',
 'The Simpsons',
 'Once Upon a Time',
 'Narcos',
 'Daredevil',
 'Friends',
 'How I Met Your Mother',
 'Suits',
 'Mr. Robot',
 'The Originals',
 'Supergirl',
 'Gossip Girl',
 'Sense8',
 'Gotham',
 'Westworld',
 'Jessica Jones',
 'Modern Family',
 'Rick and Morty',
 'Shadowhunters',
 'The End of the F***ing World',
 'House of Cards',
 'Dark',
 'Elite',
 'Sex Education',
 'Shameless',
 'New Girl',
 'Agents of S.H.I.E.L.D.',
 'You',
 'Dexter',
 'Fear the Walking Dead',
 'Family Guy',
 'The Blacklist',
 'Lost',
 'Peaky Blinders',
 'House',
 'Quantico',
 'Orphan Black',
 'Homeland',
 'Blindspot',
 "DC's Legends of Tomorrow",
 "The Handmaid's Tale",
 'Chilling Adventures of Sabrina',
 'The Good Doctor',
 'Jane the Virgin',
 'Glee',
 'South Park',
 'Brooklyn Nine-Nine',
 'Under the Dome',
 'The Umbrella Academy',
 'True Detective',
 'The OA',
 'Desperate Housewives',
 'Better Call Saul',
 'Bates Motel',
 'The Punisher',
 'Atypical',
 'Dynasty',
 'This Is Us',
 'The Good Place',
 'Iron Fist',
 'The Rain',
 'Mindhunter',
 'Revenge',
 'Luke Cage',
 'Scandal',
 'The Defenders',
 'Big Little Lies',
 'Insatiable',
 'The Mentalist',
 'The Crown',
 'Chernobyl',
 'iZombie',
 'Reign',
 'A Series of Unfortunate Events',
 'Criminal Minds',
 'Scream: The TV Series',
 'The Haunting of Hill House']

In [40]:
print(len(name7))

100

In [41]:
y7=[]
y7tag=driver7.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
for i in y7tag:
    y7.append(i.text)
y7

['(20112019)',
 '(20162024)',
 '(20102022)',
 '(20172020)',
 '(20142020)',
 '(20132019)',
 '(2017 )',
 '(2005 )',
 '(20142023)',
 '(20122020)',
 '(20172021)',
 '(20072019)',
 '(20112019)',
 '(20102017)',
 '(20132020)',
 '(20102017)',
 '(20092017)',
 '(2011 )',
 '(20082013)',
 '(20162021)',
 '(20052020)',
 '(20052017)',
 '(20142020)',
 '(20112017)',
 '(1989 )',
 '(20112018)',
 '(20152017)',
 '(20152018)',
 '(19942004)',
 '(20052014)',
 '(20112019)',
 '(20152019)',
 '(20132018)',
 '(20152021)',
 '(20072012)',
 '(20152018)',
 '(20142019)',
 '(20162022)',
 '(20152019)',
 '(20092020)',
 '(2013 )',
 '(20162019)',
 '(20172019)',
 '(20132018)',
 '(20172020)',
 '(2018 )',
 '(2019 )',
 '(20112021)',
 '(20112018)',
 '(20132020)',
 '(2018 )',
 '(20062013)',
 '(20152023)',
 '(1999 )',
 '(20132023)',
 '(20042010)',
 '(20132022)',
 '(20042012)',
 '(20152018)',
 '(20132017)',
 '(20112020)',
 '(20152020)',
 '(20162022)',
 '(2017 )',
 '(20182020)',
 '(2017 )',
 '(20142019)',
 '(20092015)',
 '(1997 )',
 '(20132021)',
 '(20132015)',
 '(20192023)',
 '(20142019)',
 '(20162019)',
 '(20042012)',
 '(20152022)',
 '(20132017)',
 '(20172019)',
 '(20172021)',
 '(20172022)',
 '(20162022)',
 '(20162020)',
 '(20172018)',
 '(20182020)',
 '(20172019)',
 '(20112015)',
 '(20162018)',
 '(20122018)',
 '(2017)',
 '(20172019)',
 '(20182019)',
 '(20082015)',
 '(20162023)',
 '(2019)',
 '(20152019)',
 '(20132017)',
 '(20172019)',
 '(2005 )',
 '(20152019)',
 '(2018)']

In [42]:
print(len(y7))

100

In [43]:
g7=[]
g7tag=driver7.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[5]')
for i in g7tag:
    g7.append(i.text)
g7

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Drama, Mystery, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Sci-Fi',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy, Romance',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [45]:
print(len(g7))

100

In [46]:
rt7=[]
rt7tag=driver7.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[5]')
for i in rt7tag:
    rt7.append(i.text)
rt7

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Drama, Mystery, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Sci-Fi',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy, Romance',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [47]:
print(len(rt7))

100

In [48]:
r7=[]
r7tag=driver7.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div/div/span[2]')
for i in r7tag:
    r7.append(i.text)
r7

['9.2',
 '8.7',
 '8.1',
 '7.5',
 '7.6',
 '8.1',
 '6.6',
 '7.6',
 '7.5',
 '7.5',
 '8.2',
 '8.2',
 '8.8',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.5',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.7',
 '8.7',
 '7.7',
 '8.8',
 '8.6',
 '8.9',
 '8.3',
 '8.5',
 '8.5',
 '8.3',
 '6.2',
 '7.5',
 '8.2',
 '7.8',
 '8.5',
 '7.9',
 '8.5',
 '9.1',
 '6.5',
 '8',
 '8.7',
 '8.7',
 '7.3',
 '8.3',
 '8.6',
 '7.8',
 '7.5',
 '7.7',
 '8.7',
 '6.8',
 '8.2',
 '8',
 '8.3',
 '8.8',
 '8.7',
 '6.7',
 '8.3',
 '8.3',
 '7.3',
 '6.8',
 '8.4',
 '7.4',
 '8.1',
 '7.9',
 '6.8',
 '8.7',
 '8.4',
 '6.5',
 '7.9',
 '8.9',
 '7.8',
 '7.6',
 '8.9',
 '8.1',
 '8.5',
 '8.2',
 '7.3',
 '8.7',
 '8.2',
 '6.4',
 '6.3',
 '8.6',
 '7.8',
 '7.3',
 '7.7',
 '7.2',
 '8.5',
 '6.5',
 '8.1',
 '8.6',
 '9.4',
 '7.8',
 '7.4',
 '7.8',
 '8.1',
 '7.1',
 '8.6']

In [49]:
print(len(r7))

100

In [50]:
v7=[]
v7tag=driver7.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
for i in v7tag:
    v7.append(i.text)
v7

['2,137,644',
 '1,222,630',
 '1,014,783',
 '298,925',
 '257,797',
 '307,132',
 '147,188',
 '316,748',
 '351,955',
 '435,403',
 '488,927',
 '821,466',
 '561,743',
 '941,074',
 '544,945',
 '170,566',
 '327,976',
 '324,602',
 '1,940,767',
 '331,780',
 '453,763',
 '545,797',
 '155,586',
 '153,953',
 '413,794',
 '227,883',
 '433,362',
 '448,432',
 '1,014,324',
 '694,470',
 '419,347',
 '394,470',
 '139,208',
 '125,722',
 '178,954',
 '156,775',
 '233,249',
 '512,152',
 '217,738',
 '441,762',
 '541,809',
 '65,656',
 '198,531',
 '510,658',
 '402,166',
 '82,660',
 '293,017',
 '249,427',
 '230,324',
 '219,430',
 '265,284',
 '733,714',
 '133,064',
 '347,009',
 '255,826',
 '562,118',
 '569,302',
 '473,373',
 '61,756',
 '112,604',
 '346,669',
 '75,527',
 '106,526',
 '244,315',
 '98,892',
 '98,835',
 '52,967',
 '150,601',
 '379,327',
 '326,437',
 '108,086',
 '254,694',
 '584,767',
 '107,218',
 '131,636',
 '556,216',
 '110,429',
 '243,348',
 '93,268',
 '23,425',
 '147,754',
 '167,432',
 '133,711',
 '38,587',
 '299,296',
 '121,505',
 '133,750',
 '75,536',
 '110,422',
 '205,971',
 '29,976',
 '188,848',
 '227,116',
 '781,379',
 '70,061',
 '51,002',
 '63,015',
 '204,854',
 '42,420',
 '253,474']

In [51]:
print(len(v7))

100

In [52]:
df7=pd.DataFrame({'Name':name7,'Year Span':y7,'Genre':g7,'Run Time':rt7,'Ratings':r7,'Votes':v7})
df7

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(20112019),"Action, Adventure, Drama","Action, Adventure, Drama",9.2,"2,137,644"
1,Stranger Things,(20162024),"Drama, Fantasy, Horror","Drama, Fantasy, Horror",8.7,"1,222,630"
2,The Walking Dead,(20102022),"Drama, Horror, Thriller","Drama, Horror, Thriller",8.1,"1,014,783"
3,13 Reasons Why,(20172020),"Drama, Mystery, Thriller","Drama, Mystery, Thriller",7.5,"298,925"
4,The 100,(20142020),"Drama, Mystery, Sci-Fi","Drama, Mystery, Sci-Fi",7.6,"257,797"
...,...,...,...,...,...,...
95,Reign,(20132017),Drama,Drama,7.4,"51,002"
96,A Series of Unfortunate Events,(20172019),"Adventure, Comedy, Drama","Adventure, Comedy, Drama",7.8,"63,015"
97,Criminal Minds,(2005 ),"Crime, Drama, Mystery","Crime, Drama, Mystery",8.1,"204,854"
98,Scream: The TV Series,(20152019),"Comedy, Crime, Drama","Comedy, Crime, Drama",7.1,"42,420"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery","Drama, Horror, Mystery",8.6,"253,474"

# PROBLEM NO.8 - UCI MACHINE LEARNING REPOSITORY

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver8=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver8.get("https://archive.ics.uci.edu/")

In [4]:
search8=driver8.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td/span/b/a")
search8.click()

In [5]:
d8=[]
d8tag=driver8.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[1]')
for i in d8tag:
    d8.append(i.text)
d8

['Name',
 '  Abalone',
 '  Adult',
 '  Annealing',
 '  Anonymous Microsoft Web Data',
 '  Arrhythmia',
 '  Artificial Characters',
 '  Audiology (Original)',
 '  Audiology (Standardized)',
 '  Auto MPG',
 '  Automobile',
 '  Badges',
 '  Balance Scale',
 '  Balloons',
 '  Breast Cancer',
 '  Breast Cancer Wisconsin (Original)',
 '  Breast Cancer Wisconsin (Prognostic)',
 '  Breast Cancer Wisconsin (Diagnostic)',
 '  Pittsburgh Bridges',
 '  Car Evaluation',
 '  Census Income',
 '  Chess (King-Rook vs. King-Knight)',
 '  Chess (King-Rook vs. King-Pawn)',
 '  Chess (King-Rook vs. King)',
 '  Chess (Domain Theories)',
 '  Bach Chorales',
 '  Connect-4',
 '  Credit Approval',
 '  Japanese Credit Screening',
 '  Computer Hardware',
 '  Contraceptive Method Choice',
 '  Covertype',
 '  Cylinder Bands',
 '  Dermatology',
 '  Diabetes',
 '  DGP2 - The Second Data Generation Program',
 '  Document Understanding',
 '  EBL Domain Theories',
 '  Echocardiogram',
 '  Ecoli',
 '  Flags',
 '  Function Finding',
 '  Glass Identification',
 "  Haberman's Survival",
 '  Hayes-Roth',
 '  Heart Disease',
 '  Hepatitis',
 '  Horse Colic',
 '  ICU',
 '  Image Segmentation',
 '  Internet Advertisements',
 '  Ionosphere',
 '  Iris',
 '  ISOLET',
 '  Kinship',
 '  Labor Relations',
 '  LED Display Domain',
 '  Lenses',
 '  Letter Recognition',
 '  Liver Disorders',
 '  Logic Theorist',
 '  Lung Cancer',
 '  Lymphography',
 '  Mechanical Analysis',
 '  Meta-data',
 '  Mobile Robots',
 '  Molecular Biology (Promoter Gene Sequences)',
 '  Molecular Biology (Protein Secondary Structure)',
 '  Molecular Biology (Splice-junction Gene Sequences)',
 "  MONK's Problems",
 '  Moral Reasoner',
 '  Multiple Features',
 '  Mushroom',
 '  Musk (Version 1)',
 '  Musk (Version 2)',
 '  Nursery',
 '  Othello Domain Theory',
 '  Page Blocks Classification',
 '  Optical Recognition of Handwritten Digits',
 '  Pen-Based Recognition of Handwritten Digits',
 '  Post-Operative Patient',
 '  Primary Tumor',
 '  Prodigy',
 '  Qualitative Structure Activity Relationships',
 '  Quadruped Mammals',
 '  Servo',
 '  Shuttle Landing Control',
 '  Solar Flare',
 '  Soybean (Large)',
 '  Soybean (Small)',
 '  Challenger USA Space Shuttle O-Ring',
 '  Low Resolution Spectrometer',
 '  Spambase',
 '  SPECT Heart',
 '  SPECTF Heart',
 '  Sponge',
 '  Statlog Project',
 '  Student Loan Relational',
 '  Teaching Assistant Evaluation',
 '  Tic-Tac-Toe Endgame',
 '  Thyroid Disease',
 '  Trains',
 '  University',
 '  Congressional Voting Records',
 '  Water Treatment Plant',
 '  Waveform Database Generator (Version 1)',
 '  Waveform Database Generator (Version 2)',
 '  Wine',
 '  Yeast',
 '  Zoo',
 '  Undocumented',
 '  Twenty Newsgroups',
 '  Australian Sign Language signs',
 '  Australian Sign Language signs (High Quality)',
 '  US Census Data (1990)',
 '  Census-Income (KDD)',
 '  Coil 1999 Competition Data',
 '  Corel Image Features',
 '  E. Coli Genes',
 '  EEG Database',
 '  El Nino',
 '  Entree Chicago Recommendation Data',
 '  CMU Face Images',
 '  Insurance Company Benchmark (COIL 2000)',
 '  Internet Usage Data',
 '  IPUMS Census Database',
 '  Japanese Vowels',
 '  KDD Cup 1998 Data',
 '  KDD Cup 1999 Data',
 '  M. Tuberculosis Genes',
 '  Movie',
 '  MSNBC.com Anonymous Web Data',
 '  NSF Research Award Abstracts 1990-2003',
 '  Pioneer-1 Mobile Robot Data',
 '  Pseudo Periodic Synthetic Time Series',
 '  Reuters-21578 Text Categorization Collection',
 '  Robot Execution Failures',
 '  Synthetic Control Chart Time Series',
 '  Syskill and Webert Web Page Ratings',
 '  UNIX User Data',
 '  Volcanoes on Venus - JARtool experiment',
 '  Statlog (Australian Credit Approval)',
 '  Statlog (German Credit Data)',
 '  Statlog (Heart)',
 '  Statlog (Landsat Satellite)',
 '  Statlog (Image Segmentation)',
 '  Statlog (Shuttle)',
 '  Statlog (Vehicle Silhouettes)',
 '  Connectionist Bench (Nettalk Corpus)',
 '  Connectionist Bench (Sonar, Mines vs. Rocks)',
 '  Connectionist Bench (Vowel Recognition - Deterding Data)',
 '  Economic Sanctions',
 '  Protein Data',
 '  Cloud',
 '  CalIt2 Building People Counts',
 '  Dodgers Loop Sensor',
 '  Poker Hand',
 '  MAGIC Gamma Telescope',
 '  UJI Pen Characters',
 '  Mammographic Mass',
 '  Forest Fires',
 '  Reuters Transcribed Subset',
 '  Bag of Words',
 '  Concrete Compressive Strength',
 '  Hill-Valley',
 '  Arcene',
 '  Dexter',
 '  Dorothea',
 '  Gisette',
 '  Madelon',
 '  Ozone Level Detection',
 '  Abscisic Acid Signaling Network',
 '  Parkinsons',
 '  Character Trajectories',
 '  Blood Transfusion Service Center',
 '  UJI Pen Characters (Version 2)',
 '  Semeion Handwritten Digit',
 '  SECOM',
 '  Plants',
 '  Libras Movement',
 '  Concrete Slump Test',
 '  Communities and Crime',
 '  Acute Inflammations',
 '  Wine Quality',
 '  URL Reputation',
 '  p53 Mutants',
 '  Parkinsons Telemonitoring',
 '  Demospongiae',
 '  Opinosis Opinion  Review',
 '  Breast Tissue',
 '  Cardiotocography',
 '  Wall-Following Robot Navigation Data',
 '  Spoken Arabic Digit',
 '  Localization Data for Person Activity',
 '  AutoUniv',
 '  Steel Plates Faults',
 '  MiniBooNE particle identification',
 '  YearPredictionMSD',
 '  PEMS-SF',
 '  OpinRank Review Dataset',
 '  Relative location of CT slices on axial axis',
 '  Online Handwritten Assamese Characters Dataset',
 '  PubChem Bioassay Data',
 '  Record Linkage Comparison Patterns',
 '  Communities and Crime Unnormalized',
 '  Vertebral Column',
 '  EMG Physical Action Data Set',
 '  Vicon Physical Action Data Set',
 '  Amazon Commerce reviews set',
 '  Amazon Access Samples',
 '  Reuter_50_50',
 '  Farm Ads',
 '  DBWorld e-mails',
 '  KEGG Metabolic Relation Network (Directed)',
 '  KEGG Metabolic Reaction Network (Undirected)',
 '  Bank Marketing',
 '  YouTube Comedy Slam Preference Data',
 '  Gas Sensor Array Drift Dataset',
 '  ILPD (Indian Liver Patient Dataset)',
 '  OPPORTUNITY Activity Recognition',
 '  Nomao',
 '  SMS Spam Collection',
 '  Skin Segmentation',
 '  Planning Relax',
 '  PAMAP2 Physical Activity Monitoring',
 '  Restaurant & consumer data',
 '  CNAE-9',
 '  Individual household electric power consumption',
 '  seeds',
 '  Northix',
 '  QtyT40I10D100K',
 '  Legal Case Reports',
 '  Human Activity Recognition Using Smartphones',
 '  One-hundred plant species leaves data set',
 '  Energy efficiency',
 '  Yacht Hydrodynamics',
 '  Fertility',
 '  Daphnet Freezing of Gait',
 '  3D Road Network (North Jutland, Denmark)',
 '  ISTANBUL STOCK EXCHANGE',
 '  Buzz in social media',
 '  First-order theorem proving',
 '  Wearable Computing: Classification of Body Postures and Movements (PUC-Rio)',
 '  Gas sensor arrays in open sampling settings',
 '  Climate Model Simulation Crashes',
 '  MicroMass',
 '  QSAR biodegradation',
 '  BLOGGER',
 '  Daily and Sports Activities',
 '  User Knowledge Modeling',
 '  Reuters RCV1 RCV2 Multilingual, Multiview Text Categorization Test collection',
 '  NYSK',
 '  Turkiye Student Evaluation',
 "  ser Knowledge Modeling Data (Students' Knowledge Levels on DC Electrical Machines)",
 '  EEG Eye State',
 '  Physicochemical Properties of Protein Tertiary Structure',
 '  seismic-bumps',
 '  banknote authentication',
 '  USPTO Algorithm Challenge, run by NASA-Harvard Tournament Lab and TopCoder Problem: Pat',
 '  YouTube Multiview Video Games Dataset',
 '  Gas Sensor Array Drift Dataset at Different Concentrations',
 '  Activities of Daily Living (ADLs) Recognition Using Binary Sensors',
 '  SkillCraft1 Master Table Dataset',
 '  Weight Lifting Exercises monitored with Inertial Measurement Units',
 '  SML2010',
 '  Bike Sharing Dataset',
 '  Predict keywords activities in a online social media',
 '  Thoracic Surgery Data',
 '  EMG dataset in Lower Limb',
 '  SUSY',
 '  HIGGS',
 '  Qualitative_Bankruptcy',
 '  LSVT Voice Rehabilitation',
 '  Dataset for ADL Recognition with Wrist-worn Accelerometer',
 '  Wilt',
 '  User Identification From Walking Activity',
 '  Activity Recognition from Single Chest-Mounted Accelerometer',
 '  Leaf',
 '  Dresses_Attribute_Sales',
 '  Tamilnadu Electricity Board Hourly Readings',
 '  Airfoil Self-Noise',
 '  Wholesale customers',
 '  Twitter Data set for Arabic Sentiment Analysis',
 '  Combined Cycle Power Plant',
 '  Urban Land Cover',
 '  Diabetes 130-US hospitals for years 1999-2008',
 '  Bach Choral Harmony',
 '  StoneFlakes',
 '  Tennis Major Tournament Match Statistics',
 '  Parkinson Speech Dataset with Multiple Types of Sound Recordings',
 '  Gesture Phase Segmentation',
 '  Perfume Data',
 '  BlogFeedback',
 '  REALDISP Activity Recognition Dataset',
 '  Newspaper and magazine images segmentation dataset',
 '  AAAI 2014 Accepted Papers',
 '  Gas sensor array under flow modulation',
 '  Gas sensor array exposed to turbulent gas mixtures',
 '  UJIIndoorLoc',
 '  Sentence Classification',
 '  Dow Jones Index',
 '  sEMG for Basic Hand movements',
 '  AAAI 2013 Accepted Papers',
 '  Geographical Original of Music',
 '  Condition Based Maintenance of Naval Propulsion Plants',
 '  Grammatical Facial Expressions',
 '  NoisyOffice',
 '  MHEALTH Dataset',
 '  Student Performance',
 '  ElectricityLoadDiagrams20112014',
 '  Gas sensor array under dynamic gas mixtures',
 '  microblogPCU',
 '  Firm-Teacher_Clave-Direction_Classification',
 '  Dataset for Sensorless Drive Diagnosis',
 '  TV News Channel Commercial Detection Dataset',
 '  Phishing Websites',
 '  Greenhouse Gas Observing Network',
 '  Diabetic Retinopathy Debrecen Data Set',
 '  HIV-1 protease cleavage',
 '  Sentiment Labelled Sentences',
 '  Online News Popularity',
 '  Forest type mapping',
 '  wiki4HE',
 '  Online Video Characteristics and Transcoding Time Dataset',
 '  Chronic_Kidney_Disease',
 '  Machine Learning based ZZAlpha Ltd. Stock Recommendations 2012-2014',
 '  Folio',
 '  Taxi Service Trajectory - Prediction Challenge, ECML PKDD 2015',
 '  Cuff-Less Blood Pressure Estimation',
 '  Smartphone-Based Recognition of Human Activities and Postural Transitions',
 '  Mice Protein Expression',
 '  UJIIndoorLoc-Mag',
 '  Heterogeneity Activity Recognition',
 '  Educational Process Mining (EPM): A Learning Analytics Data Set',
 '  HEPMASS',
 '  Indoor User Movement Prediction from RSS data',
 '  Open University Learning Analytics dataset',
 '  default of credit card clients',
 '  Mesotheliomas disease data set',
 '  Online Retail',
 '  SIFT10M',
 '  GPS Trajectories',
 '  Detect Malacious Executable(AntiVirus)',
 '  Occupancy Detection',
 '  Improved Spiral Test Using Digitized Graphics Tablet for Monitoring Parkinsons Disease',
 '  News Aggregator',
 '  Air Quality',
 '  Twin gas sensor arrays',
 '  Gas sensors for home activity monitoring',
 '  Facebook Comment Volume Dataset',
 '  Smartphone Dataset for Human Activity Recognition (HAR) in Ambient Assisted Living (AAL)',
 '  Polish companies bankruptcy data',
 '  Activity Recognition system based on Multisensor data fusion (AReM)',
 '  Dota2 Games Results',
 '  Facebook metrics',
 '  UbiqLog (smartphone lifelogging)',
 '  NIPS Conference Papers 1987-2015',
 '  HTRU2',
 '  Drug consumption (quantified)',
 '  Appliances energy prediction',
 '  Miskolc IIS Hybrid IPS',
 '  KDC-4007 dataset Collection',
 '  Geo-Magnetic field and WLAN dataset for indoor localisation from wristband and smartphone',
 '  DrivFace',
 '  Website Phishing',
 '  YouTube Spam Collection',
 '  Beijing PM2.5 Data',
 '  Cargo 2000 Freight Tracking and Tracing',
 '  Cervical cancer (Risk Factors)',
 '  Quality Assessment of Digital Colposcopies',
 '  KASANDR',
 '  FMA: A Dataset For Music Analysis',
 '  Air quality',
 '  Epileptic Seizure Recognition',
 '  Devanagari Handwritten Character Dataset',
 '  Stock portfolio performance',
 '  MoCap Hand Postures',
 '  Early biomarkers of Parkinsons disease based on natural connected speech',
 '  Data for Software Engineering Teamwork Assessment in Education Setting',
 '  PM2.5 Data of Five Chinese Cities',
 '  Parkinson Disease Spiral Drawings Using Digitized Graphics Tablet',
 '  Sales_Transactions_Dataset_Weekly',
 '  Las Vegas Strip',
 '  Eco-hotel',
 '  MEU-Mobile KSD',
 '  Crowdsourced Mapping',
 '  gene expression cancer RNA-Seq',
 '  Hybrid Indoor Positioning Dataset from WiFi RSSI, Bluetooth and magnetometer',
 '  chestnut  LARVIC',
 '  Burst Header Packet (BHP) flooding attack on Optical Burst Switching (OBS) Network',
 '  Motion Capture Hand Postures',
 '  Anuran Calls (MFCCs)',
 '  TTC-3600: Benchmark dataset for Turkish text categorization',
 '  Gastrointestinal Lesions in Regular Colonoscopy',
 '  Daily Demand Forecasting Orders',
 '  Paper Reviews',
 '  extention of Z-Alizadeh sani dataset',
 '  Z-Alizadeh Sani',
 '  Dynamic Features of VirusShare Executables',
 '  IDA2016Challenge',
 '  DSRC Vehicle Communications',
 '  Mturk User-Perceived Clusters over Images',
 '  Character Font Images',
 '  DeliciousMIL: A Data Set for Multi-Label Multi-Instance Learning with Instance Labels',
 '  Autistic Spectrum Disorder Screening Data for Children',
 '  Autistic Spectrum Disorder Screening Data for Adolescent',
 '  APS Failure at Scania Trucks',
 '  Wireless Indoor Localization',
 '  HCC Survival',
 '  CSM (Conventional and Social Media Movies) Dataset 2014 and 2015',
 '  University of Tehran Question Dataset 2016 (UTQD.2016)',
 '  Autism Screening Adult',
 '  Activity recognition with healthy older people using a batteryless wearable sensor',
 '  Immunotherapy Dataset',
 '  Cryotherapy Dataset',
 '  OCT data & Color Fundus Images of Left & Right Eyes',
 '  Discrete Tone Image Dataset',
 '  News Popularity in Multiple Social Media Platforms',
 '  Ultrasonic flowmeter diagnostics',
 '  ICMLA 2014 Accepted Papers Data Set',
 '  BLE RSSI Dataset for Indoor localization and Navigation',
 '  Container Crane Controller Data Set',
 '  Residential Building Data Set',
 '  Health News in Twitter',
 '  chipseq',
 '  SGEMM GPU kernel performance',
 '  Repeat Consumption Matrices',
 '  detection_of_IoT_botnet_attacks_N_BaIoT',
 '  Absenteeism at work',
 '  SCADI',
 '  Condition monitoring of hydraulic systems',
 '  Carbon Nanotubes',
 '  Optical Interconnection Network',
 '  Sports articles for objectivity analysis',
 '  Breast Cancer Coimbra',
 '  GNFUV Unmanned Surface Vehicles Sensor Data',
 '  Dishonest Internet users Dataset',
 '  Victorian Era Authorship Attribution',
 '  Simulated Falls and Daily Living Activities Data Set',
 '  Multimodal Damage Identification for Humanitarian Computing',
 '  EEG Steady-State Visual Evoked Potential Signals',
 '  Roman Urdu Data Set',
 '  Avila',
 '  PANDOR',
 '  Drug Review Dataset (Druglib.com)',
 '  Drug Review Dataset (Drugs.com)',
 '  Physical Unclonable Functions',
 '  Superconductivty Data',
 '  WESAD (Wearable Stress and Affect Detection)',
 '  GNFUV Unmanned Surface Vehicles Sensor Data Set 2',
 '  Student Academics Performance',
 '  Online Shoppers Purchasing Intention Dataset',
 '  PMU-UD',
 "  Parkinson's Disease Classification",
 '  Electrical Grid Stability Simulated Data',
 '  Caesarian Section Classification Dataset',
 '  BAUM-1',
 '  BAUM-2',
 '  Audit Data',
 '  BuddyMove Data Set',
 '  Real estate valuation data set',
 '  Early biomarkers of Parkinsons disease based on natural connected speech Data Set',
 '  Somerville Happiness Survey',
 '  2.4 GHZ Indoor Channel Measurements',
 '  EMG data for gestures',
 '  Parking Birmingham',
 '  Behavior of the urban traffic of the city of Sao Paulo in Brazil',
 '  Travel Reviews',
 '  Tarvel Review Ratings',
 '  Rice Leaf Diseases',
 '  Gas sensor array temperature modulation',
 '  Facebook Live Sellers in Thailand',
 '  Parkinson Dataset with replicated acoustic features',
 '  Metro Interstate Traffic Volume',
 '  Query Analytics Workloads Dataset',
 '  Wave Energy Converters',
 '  PPG-DaLiA',
 '  Alcohol QCM Sensor Dataset',
 '  Divorce Predictors data set',
 '  Incident management process enriched event log',
 '  Opinion Corpus for Lebanese Arabic Reviews (OCLAR)',
 '  MEx',
 '  Beijing Multi-Site Air-Quality Data',
 '  Online Retail II',
 '  Hepatitis C Virus (HCV) for Egyptian patients',
 '  QSAR fish toxicity',
 '  QSAR aquatic toxicity',
 '  Human Activity Recognition from Continuous Ambient Sensor Data',
 '  WISDM Smartphone and Smartwatch Activity and Biometrics Dataset',
 '  QSAR oral toxicity',
 '  QSAR androgen receptor',
 '  QSAR Bioconcentration classes dataset',
 '  QSAR fish bioconcentration factor (BCF)',
 '  A study of Asian Religious and Biblical Texts',
 '  Real-time Election Results: Portugal 2019',
 '  Bias correction of numerical prediction model temperature forecast',
 '  Bar Crawl: Detecting Heavy Drinking',
 '  Kitsune Network Attack Dataset',
 '  Shoulder Implant X-Ray Manufacturer Classification',
 '  Speaker Accent Recognition',
 '  Heart failure clinical records',
 '  Deepfakes: Medical Image Tamper Detection',
 '  selfBACK',
 '  South German Credit',
 '  Exasens',
 '  Swarm Behaviour',
 '  Crop mapping using fused optical-radar data set',
 '  BitcoinHeistRansomwareAddressDataset',
 '  Facebook Large Page-Page Network',
 '  Amphibians',
 '  Early stage diabetes risk prediction dataset.',
 '  Turkish Spam V01',
 '  Stock keeping units',
 '  Demand Forecasting for a store',
 '  Detect Malware Types',
 '  Wave Energy Converters',
 '  Youtube cookery channels viewers comments in Hinglish',
 '  Pedestrian in Traffic Dataset',
 '  Cervical Cancer Behavior Risk',
 '  Sattriya_Dance_Single_Hand_Gestures Dataset',
 '  Divorce Predictors data set',
 '  3W dataset',
 '  Malware static and dynamic features VxHeaven and Virus Total',
 '  Internet Firewall Data',
 '  User Profiling and Abusive Language Detection Dataset',
 '  Estimation of obesity levels based on eating habits and physical condition',
 '  Rice (Cammeo and Osmancik)',
 '  Vehicle routing and scheduling problems',
 '  Algerian Forest Fires Dataset',
 '  Breath Metabolomics',
 '  Horton General Hospital',
 '  UrbanGB, urban road accidents coordinates labelled by the urban center',
 '  Gas Turbine CO and NOx Emission Data Set',
 '  Activity recognition using wearable physiological measurements',
 '  clickstream data for online shopping',
 '  CNNpred: CNN-based stock market prediction using a diverse set of variables',
 '  Apartment for rent classified',
 '  : Simulated Data set of Iraqi tourism places',
 '  Nasarian CAD Dataset',
 '  Monolithic Columns in Troad and Mysia Region',
 '  Bar Crawl: Detecting Heavy Drinking',
 '  Seoul Bike Sharing Demand',
 '  Person Classification Gait Data',
 '  Shill Bidding Dataset',
 '  Iranian Churn Dataset',
 '  Unmanned Aerial Vehicle (UAV) Intrusion Detection',
 '  Bone marrow transplant: children',
 '  Exasens',
 '  COVID-19 Surveillance',
 '  Refractive errors',
 '  Shoulder Implant X-Ray Manufacturer Classification',
 '  CLINC150',
 '  HCV data',
 '  Taiwanese Bankruptcy Prediction',
 '  South German Credit (UPDATE)',
 '  IIWA14-R820-Gazebo-Dataset-10Trajectories',
 '  Guitar Chords finger positions',
 '  Russian Corpus of Biographical Texts',
 '  Codon usage',
 '  Intelligent Media Accelerometer and Gyroscope (IM-AccGyro) Dataset',
 '  Myocardial infarction complications',
 '  Hungarian Chickenpox Cases',
 '  Simulated data for survival modelling',
 '  Student Performance on an entrance examination',
 '  Chemical Composition of Ceramic Samples',
 '  Labeled Text Forum Threads Dataset',
 '  Stock keeping units',
 '  BLE RSSI dataset for Indoor localization',
 '  Basketball dataset',
 '  GitHub MUSAE',
 '  Anticancer peptides',
 '  Monolithic Columns in Troad and Mysia Region',
 '  Gender by Name',
 '  Iranian Churn Dataset',
 '  Unmanned Aerial Vehicle (UAV) Intrusion Detection',
 '  Shoulder Implant Manufacture Classification',
 '  LastFM Asia Social Network',
 '  Wheat kernels',
 '  Productivity Prediction of Garment Employees',
 '  Multi-view Brain Networks',
 '  LastFM Asia Social Network',
 '  Wisesight Sentiment Corpus',
 '  AI4I 2020 Predictive Maintenance Dataset',

In [6]:
print(len(d8))

623

In [ ]:
url8=[]
url=driver.find_elements(By.XPATH,'')
for i in url:
    url8.append(i.get_attribute('href'))
    time.sleep(3)
url8

In [9]:
dt8=[]
try:
    dt8tag=driver8.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[2]')
    for i in dt8tag:
          dt8.append(i.text)
except NoSuchElementException:
    dt8.append('NA')
dt8

['Data Types',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Univariate, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Data-Generator ',
 'Multivariate ',
 'Multivariate ',
 'Domain-Theory ',
 'Univariate, Time-Series ',
 'Multivariate, Spatial ',
 'Multivariate ',
 'Multivariate, Domain-Theory ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Data-Generator ',
 ' ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Relational ',
 'Multivariate ',
 'Multivariate, Data-Generator ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Domain-Theory ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Domain-Theory ',
 'Sequential, Domain-Theory ',
 'Sequential ',
 'Sequential, Domain-Theory ',
 'Multivariate ',
 'Domain-Theory ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Domain-Theory ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Domain-Theory ',
 'Domain-Theory ',
 'Multivariate, Data-Generator ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Domain-Theory ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Domain-Theory ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Data-Generator ',
 'Multivariate, Data-Generator ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Text ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Relational ',
 'Multivariate, Time-Series ',
 'Spatio-temporal ',
 'Transactional, Sequential ',
 'Image ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Relational ',
 'Multivariate, Relational ',
 'Sequential ',
 'Text ',
 'Multivariate, Time-Series ',
 'Univariate, Time-Series ',
 'Text ',
 'Multivariate, Time-Series ',
 'Time-Series ',
 'Multivariate, Text ',
 'Text, Sequential ',
 'Image ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Domain-Theory ',
 ' ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Text ',
 'Multivariate ',
 'Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Multivariate, Time-Series ',
 'Univariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Text ',
 'Domain-Theory ',
 'Multivariate, Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Time-Series ',
 'Time-Series ',
 'Multivariate, Text, Domain-Theory ',
 'Time-Series, Domain-Theory ',
 'Multivariate, Text, Domain-Theory ',
 'Text ',
 'Text ',
 'Multivariate, Univariate, Text ',
 'Multivariate, Univariate, Text ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Univariate ',
 'Multivariate, Text, Domain-Theory ',
 'Univariate ',
 'Univariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate, Univariate, Text ',
 'Sequential ',
 'Text ',
 'Multivariate, Time-Series ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Sequential, Text ',
 'Multivariate, Univariate, Time-Series ',
 'Time-Series, Multivariate ',
 'Multivariate ',
 'Sequential ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Domain-Theory ',
 'Multivariate, Text ',
 'Multivariate, Time-Series ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series, Text ',
 'Univariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 ' ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Univariate, Sequential, Time-Series ',
 'Univariate, Sequential, Time-Series ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Univariate, Domain-Theory ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 ' ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Text ',
 'Time-Series ',
 'Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate, Univariate, Sequential, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series, Domain-Theory ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series, Domain-Theory ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Text ',
 'Multivariate, Text ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate, Time-Series ',
 'Multivariate, Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Sequential, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 ' ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 ' ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Time-Series ',
 'Text ',
 ' ',
 ' ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Sequential, Text ',
 'Multivariate, Text ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 ' ',
 'Sequential ',
 'Univariate ',
 'Univariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Univariate, Domain-Theory ',
 'Multivariate ',
 'Text ',
 'Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Univariate ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Text ',
 'Time-Series ',
 'Multivariate, Text ',
 'Multivariate, Time-Series ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Univariate ',
 'Multivariate ',
 'Multivariate ',
 'Univariate ',
 'Time-Series ',
 'Time-Series ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate, Univariate, Sequential, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate, Text ',
 'Multivariate, Text ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate, Univariate ',
 'Multivariate, Sequential ',
 'Text ',
 'Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate, Sequential, Time-Series, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate, Time-Series, Text ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series, Text ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate, Univariate ',
 'Multivariate ',
 'Multivariate, Univariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 'Univariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Text ',
 'Text ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Sequential, Time-Series ',
 'Time-Series ',
 'Multivariate ',
 'Sequential ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Time-Series ',
 'Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Sequential ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Time-Series ',
 'Text ',
 'Univariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Univariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate, Time-Series ',
 'Univariate ']

In [10]:
print(len(dt8))

623

In [11]:
t8=[]
try:
    t8tag=driver8.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[3]')
    for i in t8tag:
          t8.append(i.text)
except NoSuchElementException:
    t8.append('NA')
t8

['Default Task',
 'Classification ',
 'Classification ',
 'Classification ',
 'Recommender-Systems ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Function-Learning ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Relational-Learning ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 ' ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Clustering ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Clustering ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Recommender-Systems ',
 'Classification ',
 'Regression, Description ',
 ' ',
 ' ',
 'Classification ',
 'Regression ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Clustering ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Causal-Discovery ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Causal-Discovery ',
 'Clustering ',
 'Classification, Clustering ',
 'Regression ',
 'Regression ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 ' ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression, Clustering, Causal-Discovery ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 'Classification ',
 'Regression, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Regression ',
 'Regression ',
 'Classification, Regression ',
 'Classification ',
 'Regression, Clustering ',
 'Classification, Regression ',
 'Regression, Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Regression, Clustering, Causa ',
 'Classification, Clustering ',
 'Regression ',
 'Classification ',
 'Regression ',
 'Regression ',
 ' ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Regression, Clustering ',
 'Regression ',
 'Classification, Clustering ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Clustering, Causal-Discovery ',
 'Classification, Regression, Clustering ',
 'Classification, Regression ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Clustering ',
 'Classification, Regression ',
 'Classification, Regression ',
 'Classification, Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Clustering ',
 'Classification, Regression ',
 'Regression ',
 'Classification, Clustering ',
 'Classification, Regression ',
 'Classification ',
 'Classification, Regression ',
 'Regression, Clustering ',
 'Classification, Regression ',
 'Classification, Causal-Discovery ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Regression, Clustering, Causal-Discovery ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Clustering, Causal-Discovery ',
 'Classification, Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Regression, Clustering ',
 'Classification, Clustering ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Causal-Discovery ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification, Clustering ',
 'Regression ',
 'Classification, Regression ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Causal-Discovery ',
 'Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Regression ',
 'Classification, Clustering, Causal-Discovery ',
 'Classification, Regression ',
 'Classification, Regression, Clustering ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Causal-Discovery ',
 'Classification, Clustering ',
 'Regression ',
 'Classification, Clustering ',
 'Classification ',
 'Regression ',
 'Classification, Clustering ',
 'Classification, Regression ',
 'Classification ',
 'Regression ',
 'Classification, Regression, Clustering ',
 'Clustering ',
 'Classification, Regression ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Regression ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Clustering ',
 'Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification, Regression ',
 'Regression ',
 'Clustering ',
 'Classification ',
 'Regression ',
 'Clustering ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification, Regression ',
 'Regression ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Recommendation ',
 'Classification, Regression, Clustering ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Regression ',
 'Classification, Regression ',
 'Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification, Regression ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Regression ',
 'Clustering ',
 'Classification ',
 'Regression ',
 'Regression, Clustering ',
 'Regression ',
 'Regression ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Regression, Clustering ',
 'Classification ',
 'Classification, Clustering ',
 'Regression ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Regression ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Regression ',
 'Classification, Clustering ',
 'Regression ',
 'Regression ',
 'Classification, Regression ',
 'Classification, Clustering, Causal-Discovery ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Regression, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Clustering ',
 'Regression ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification, Regression, Causal-Discovery ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Clustering ',
 'Classification, Regression ',
 'Classification, Clustering ',
 'Causal-Discovery ',
 'Clustering ',
 'Regression, Clustering ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification, Regression ',
 'Classification, Regression, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Regression ',
 'Classification ',
 'Classification, Regression ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Causal-Discovery ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Regression ',
 'Regression ',
 'Regression ',
 'Classification, Regression ',
 'Classification ',
 'Classification, Regression ',
 'Regression ',
 'Regression ',
 'Classification, Clustering ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ']

In [12]:
print(len(t8))

623

In [13]:
at8=[]
try:
    at8tag=driver8.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[4]')
    for i in at8tag:
          at8.append(i.text)
except NoSuchElementException:
    at8.append('NA')
at8

['Attribute Types',
 'Categorical, Integer, Real ',
 'Categorical, Integer ',
 'Categorical, Integer, Real ',
 'Categorical ',
 'Categorical, Integer, Real ',
 'Categorical, Integer, Real ',
 'Categorical ',
 'Categorical ',
 'Categorical, Real ',
 'Categorical, Integer, Real ',
 ' ',
 'Categorical ',
 'Categorical ',
 'Categorical ',
 'Integer ',
 'Real ',
 'Real ',
 'Categorical, Integer ',
 'Categorical ',
 'Categorical, Integer ',
 'Categorical, Integer ',
 'Categorical ',
 'Categorical, Integer ',
 ' ',
 'Categorical, Integer ',
 'Categorical ',
 'Categorical, Integer, Real ',
 'Categorical, Real, Integer ',
 'Integer ',
 'Categorical, Integer ',
 'Categorical, Integer ',
 'Categorical, Integer, Real ',
 'Categorical, Integer ',
 'Categorical, Integer ',
 'Real ',
 ' ',
 ' ',
 'Categorical, Integer, Real ',
 'Real ',
 'Categorical, Integer ',
 'Real ',
 'Real ',
 'Integer ',
 'Categorical ',
 'Categorical, Integer, Real ',
 'Categorical, Integer, Real ',
 'Categorical, Integer, Real ',
 'Real ',
 'Real ',
 'Categorical, Integer, Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Categorical ',
 'Categorical, Integer, Real ',
 'Categorical ',
 'Categorical ',
 'Integer ',
 'Categorical, Integer, Real ',
 ' ',
 'Integer ',
 'Categorical ',
 'Categorical, Integer, Real ',
 'Categorical, Integer, Real ',
 'Categorical, Integer, Real ',
 'Categorical ',
 'Categorical ',
 'Categorical ',
 'Categorical ',
 ' ',
 'Integer, Real ',
 'Categorical ',
 'Integer ',
 'Integer ',
 'Categorical ',
 ' ',
 'Integer, Real ',
 'Integer ',
 'Integer ',
 'Categorical, Integer ',
 'Categorical ',
 ' ',
 ' ',
 'Real ',
 'Categorical, Integer ',
 'Categorical ',
 'Categorical ',
 'Categorical ',
 'Categorical ',
 'Integer ',
 'Integer, Real ',
 'Integer, Real ',
 'Categorical ',
 'Integer ',
 'Categorical, Integer ',
 ' ',
 ' ',
 'Categorical, Integer ',
 'Categorical ',
 'Categorical, Real ',
 'Categorical ',
 'Categorical, Integer ',
 'Categorical ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Categorical, Integer ',
 ' ',
 ' ',
 'Categorical, Real ',
 'Real ',
 'Categorical ',
 'Categorical, Integer ',
 'Categorical, Real ',
 'Real ',
 ' ',
 'Categorical, Integer, Real ',
 'Integer, Real ',
 'Categorical ',
 'Integer ',
 'Categorical, Integer ',
 'Categorical, Integer ',
 'Categorical, Integer ',
 'Real ',
 'Categorical, Integer ',
 'Categorical, Integer ',
 ' ',
 ' ',
 'Categorical ',
 ' ',
 'Categorical, Real ',
 ' ',
 'Categorical ',
 'Integer ',
 'Real ',
 'Categorical ',
 ' ',
 ' ',
 'Categorical, Integer, Real ',
 'Categorical, Integer ',
 'Categorical, Real ',
 'Integer ',
 'Real ',
 'Integer ',
 'Integer ',
 'Categorical ',
 'Real ',
 'Real ',
 ' ',
 ' ',
 'Real ',
 'Categorical, Integer ',
 'Categorical, Integer ',
 'Categorical, Integer ',
 'Real ',
 'Integer ',
 'Integer ',
 'Real ',
 ' ',
 'Integer ',
 'Real ',
 'Real ',
 'Real ',
 'Integer ',
 'Integer ',
 'Integer ',
 'Real ',
 'Real ',
 'Integer ',
 'Real ',
 'Real ',
 'Real ',
 'Integer ',
 'Integer ',
 'Real ',
 'Categorical ',
 'Real ',
 'Real ',
 'Real ',
 'Categorical, Integer ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 ' ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Categorical, Integer, Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 ' ',
 'Real ',
 'Integer ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 ' ',
 'Real ',
 ' ',
 ' ',
 'Integer, Real ',
 'Integer, Real ',
 'Real ',
 ' ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 ' ',
 'Integer ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 ' ',
 ' ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 ' ',
 'Real ',
 'Integer ',
 'Real ',
 ' ',
 ' ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 'Integer ',
 'Integer, Real ',
 'Real ',
 ' ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Integer, Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 ' ',
 'Real ',
 ' ',
 ' ',
 'Real ',
 'Real ',
 'Real ',
 ' ',
 'Real ',
 'Real ',
 'Integer ',
 ' ',
 'Real ',
 ' ',
 'Integer ',
 ' ',
 'Real ',
 'Integer, Real ',
 'Integer, Real ',
 'Real ',
 'Integer ',
 'Integer, Real ',
 'Real ',
 ' ',
 ' ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 'Integer, Real ',
 'Real ',
 ' ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Integer ',
 'Real ',
 'Real ',
 'Integer, Real ',
 ' ',
 'Real ',
 'Real ',
 'Integer ',
 'Real ',
 'Integer, Real ',
 'Categorical ',
 ' ',
 'Integer, Real ',
 ' ',
 ' ',
 'Integer, Real ',
 'Real ',
 'Real ',
 ' ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Integer ',
 'Real ',
 'Real ',
 'Integer ',
 'Integer, Real ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 ' ',
 'Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 ' ',
 'Integer ',
 ' ',
 'Integer ',
 'Real ',
 'Real ',
 'Real ',
 'Integer ',
 'Integer ',
 'Integer, Real ',
 'Real ',
 'Integer ',
 ' ',
 'Integer, Real ',
 'Integer ',
 'Integer, Real ',
 'Real ',
 'Integer ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 'Real ',
 'Integer, Real ',
 'Integer, Real ',
 'Integer, Real ',
 'Integer, Real ',
 'Integer ',
 'Integer, Real ',
 'Integer ',
 ' ',
 'Integer, Real ',
 ' ',
 'Real ',
 'Real ',
 ' ',
 'Integer ',
 'Real ',
 'Real ',
 'Integer ',
 'Real ',
 'Integer ',
 'Integer ',
 'Integer, Real ',
 'Integer, Real ',
 'Integer ',
 'Integer ',
 'Real ',
 'Integer ',
 'Integer, Real ',
 'Integer ',
 'Integer ',
 'Integer ',
 'Integer, Real ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 ' ',
 'Integer ',
 'Real ',
 'Integer, Real ',
 'Integer, Real ',
 'Real ',
 ' ',
 'Integer, Real ',
 'Real ',
 ' ',
 'Integer ',
 'Real ',
 'Real ',
 'Real ',
 'Integer ',
 'Integer ',
 'Real ',
 'Real ',
 'Integer, Real ',
 ' ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 'Integer ',
 'Real ',
 ' ',
 ' ',
 'Integer ',
 'Integer ',
 'Integer ',
 ' ',
 'Real ',
 'Categorical ',
 'Integer ',
 'Integer ',
 'Integer ',
 'Real ',
 'Real ',
 'Real ',
 ' ',
 'Integer, Real ',
 ' ',
 'Integer, Real ',
 'Real ',
 'Integer ',
 ' ',
 ' ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Integer ',
 'Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Integer ',
 'Real ',
 'Integer ',
 ' ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Integer ',
 'Integer ',
 'Integer ',
 'Real ',
 'Integer, Real ',
 'Integer, Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 ' ',
 ' ',
 ' ',
 'Integer, Real ',
 'Integer ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 'Real ',
 'Real ',
 'Integer, Real ',
 ' ',
 'Integer, Real ',
 ' ',
 ' ',
 'Integer, Real ',
 'Integer ',
 ' ',
 'Real ',
 ' ',
 'Real ',
 'Integer ',
 ' ',
 'Integer ',
 'Integer, Real ',
 'Integer, Real ',
 ' ',
 ' ',
 'Integer ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Integer ',
 'Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 ' ',
 ' ',
 ' ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 ' ',
 'Integer ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 ' ',
 'Integer ',
 'Real ',
 ' ',
 'Integer, Real ',
 'Integer ',
 'Integer, Real ',
 'Integer ',
 ' ',
 ' ',
 ' ',
 'Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 ' ',
 'Real ',
 'Integer ',
 'Integer, Real ',
 'Integer ',
 'Integer ',
 ' ',
 ' ',
 'Real ',
 ' ',
 'Integer ',
 'Real ',
 ' ',
 ' ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 ' ',
 ' ',
 'Real ',
 'Integer, Real ',
 ' ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 ' ',
 'Integer, Real ',
 'Real ',
 'Real ',
 ' ',
 'Real ',
 'Integer, Real ',
 'Integer, Real ',
 ' ',
 'Integer, Real ',
 'Integer, Real ',
 ' ',
 'Integer ',
 'Integer ',
 'Real ',
 ' ',
 ' ',
 'Real ',
 'Integer ',
 'Real ',
 'Real ',
 'Integer ',
 ' ',
 'Real ',
 'Integer ',
 'Integer ',
 'Integer ',
 'Integer, Real ',
 'Integer, Real ',
 ' ',
 'Real ',
 'Real ']

In [14]:
print(len(at8))

623

In [15]:
nt8=[]
try:
    nt8tag=driver8.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[5]')
    for i in nt8tag:
          nt8.append(i.text)
except NoSuchElementException:
    nt8.append('NA')
nt8

['# Instances',
 '4177 ',
 '48842 ',
 '798 ',
 '37711 ',
 '452 ',
 '6000 ',
 '226 ',
 '226 ',
 '398 ',
 '205 ',
 '294 ',
 '625 ',
 '16 ',
 '286 ',
 '699 ',
 '198 ',
 '569 ',
 '108 ',
 '1728 ',
 '48842 ',
 ' ',
 '3196 ',
 '28056 ',
 ' ',
 '100 ',
 '67557 ',
 '690 ',
 '125 ',
 '209 ',
 '1473 ',
 '581012 ',
 '512 ',
 '366 ',
 ' ',
 ' ',
 ' ',
 ' ',
 '132 ',
 '336 ',
 '194 ',
 '352 ',
 '214 ',
 '306 ',
 '160 ',
 '303 ',
 '155 ',
 '368 ',
 ' ',
 '2310 ',
 '3279 ',
 '351 ',
 '150 ',
 '7797 ',
 '104 ',
 '57 ',
 ' ',
 '24 ',
 '20000 ',
 '345 ',
 ' ',
 '32 ',
 '148 ',
 '209 ',
 '528 ',
 ' ',
 '106 ',
 '128 ',
 '3190 ',
 '432 ',
 '202 ',
 '2000 ',
 '8124 ',
 '476 ',
 '6598 ',
 '12960 ',
 ' ',
 '5473 ',
 '5620 ',
 '10992 ',
 '90 ',
 '339 ',
 ' ',
 ' ',
 ' ',
 '167 ',
 '15 ',
 '1389 ',
 '307 ',
 '47 ',
 '23 ',
 '531 ',
 '4601 ',
 '267 ',
 '267 ',
 '76 ',
 ' ',
 '1000 ',
 '151 ',
 '958 ',
 '7200 ',
 '10 ',
 '285 ',
 '435 ',
 '527 ',
 '5000 ',
 '5000 ',
 '178 ',
 '1484 ',
 '101 ',
 ' ',
 '20000 ',
 '6650 ',
 '2565 ',
 '2458285 ',
 '299285 ',
 '340 ',
 '68040 ',
 ' ',
 '122 ',
 '178080 ',
 '50672 ',
 '640 ',
 '9000 ',
 '10104 ',
 '256932 ',
 '640 ',
 '191779 ',
 '4000000 ',
 ' ',
 '10000 ',
 '989818 ',
 '129000 ',
 ' ',
 '100000 ',
 '21578 ',
 '463 ',
 '600 ',
 '332 ',
 ' ',
 ' ',
 '690 ',
 '1000 ',
 '270 ',
 '6435 ',
 '2310 ',
 '58000 ',
 '946 ',
 '20008 ',
 '208 ',
 '528 ',
 ' ',
 ' ',
 '1024 ',
 '10080 ',
 '50400 ',
 '1025010 ',
 '19020 ',
 '1364 ',
 '961 ',
 '517 ',
 '200 ',
 '8000000 ',
 '1030 ',
 '606 ',
 '900 ',
 '2600 ',
 '1950 ',
 '13500 ',
 '4400 ',
 '2536 ',
 '300 ',
 '197 ',
 '2858 ',
 '748 ',
 '11640 ',
 '1593 ',
 '1567 ',
 '22632 ',
 '360 ',
 '103 ',
 '1994 ',
 '120 ',
 '4898 ',
 '2396130 ',
 '16772 ',
 '5875 ',
 '503 ',
 '51 ',
 '106 ',
 '2126 ',
 '5456 ',
 '8800 ',
 '164860 ',
 ' ',
 '1941 ',
 '130065 ',
 '515345 ',
 '440 ',
 ' ',
 '53500 ',
 '8235 ',
 ' ',
 '5749132 ',
 '2215 ',
 '310 ',
 '10000 ',
 '3000 ',
 '1500 ',
 '30000 ',
 '2500 ',
 '4143 ',
 '64 ',
 '53414 ',
 '65554 ',
 '45211 ',
 '1138562 ',
 '13910 ',
 '583 ',
 '2551 ',
 '34465 ',
 '5574 ',
 '245057 ',
 '182 ',
 '3850505 ',
 '138 ',
 '1080 ',
 '2075259 ',
 '210 ',
 '115 ',
 '3960456 ',
 ' ',
 '10299 ',
 '1600 ',
 '768 ',
 '308 ',
 '100 ',
 '237 ',
 '434874 ',
 '536 ',
 '140000 ',
 '6118 ',
 '165632 ',
 '18000 ',
 '540 ',
 '931 ',
 '1055 ',
 '100 ',
 '9120 ',
 '403 ',
 '111740 ',
 '10421 ',
 '5820 ',
 '403 ',
 '14980 ',
 '45730 ',
 '2584 ',
 '1372 ',
 '306 ',
 '120000 ',
 '13910 ',
 '2747 ',
 '3395 ',
 '39242 ',
 '4137 ',
 '17389 ',
 '51 ',
 '470 ',
 '132 ',
 '5000000 ',
 '11000000 ',
 '250 ',
 '126 ',
 ' ',
 '4889 ',
 ' ',
 ' ',
 '340 ',
 '501 ',
 '45781 ',
 '1503 ',
 '440 ',
 '2000 ',
 '9568 ',
 '168 ',
 '100000 ',
 '5665 ',
 '79 ',
 '127 ',
 '1040 ',
 '9900 ',
 '560 ',
 '60021 ',
 '1419 ',
 '101 ',
 '399 ',
 '58 ',
 '180 ',
 '21048 ',
 ' ',
 '750 ',
 '3000 ',
 '150 ',
 '1059 ',
 '11934 ',
 '27965 ',
 '216 ',
 '120 ',
 '649 ',
 '370 ',
 '4178504 ',
 '221579 ',
 '10800 ',
 '58509 ',
 '129685 ',
 '2456 ',
 '2921 ',
 '1151 ',
 '6590 ',
 '3000 ',
 '39797 ',
 '326 ',
 '913 ',
 '168286 ',
 '400 ',
 '314080 ',
 '637 ',
 '1710671 ',
 '12000 ',
 '10929 ',
 '1080 ',
 '40000 ',
 '43930257 ',
 '230318 ',
 '10500000 ',
 '13197 ',
 ' ',
 '30000 ',
 '324 ',
 '541909 ',
 '11164866 ',
 '163 ',
 '373 ',
 '20560 ',
 '40 ',
 '422937 ',
 '9358 ',
 '640 ',
 '919438 ',
 '40949 ',
 '5744 ',
 '10503 ',
 '42240 ',
 '102944 ',
 '500 ',
 '9782222 ',
 '11463 ',
 '17898 ',
 '1885 ',
 '19735 ',
 '1540 ',
 '4007 ',
 '153540 ',
 '606 ',
 '1353 ',
 '1956 ',
 '43824 ',
 '3942 ',
 '858 ',
 '287 ',
 '17764280 ',
 '106574 ',
 '9358 ',
 '11500 ',
 '92000 ',
 '315 ',
 '78095 ',
 '130 ',
 '74 ',
 '52854 ',
 '77 ',
 '811 ',
 '504 ',
 '401 ',
 '2856 ',
 '10546 ',
 '801 ',
 '1540 ',
 '1451 ',
 '1075 ',
 '78095 ',
 '7195 ',
 '3600 ',
 '76 ',
 '60 ',
 '405 ',
 '303 ',
 '303 ',
 '107888 ',
 '76000 ',
 '10000 ',
 '180 ',
 '745000 ',
 '12234 ',
 '292 ',
 '104 ',
 '60000 ',
 '2000 ',
 '165 ',
 '217 ',
 '1175 ',
 '704 ',
 '75128 ',
 '90 ',
 '90 ',
 '50 ',
 '71 ',
 '93239 ',
 '540 ',
 '105 ',
 '6611 ',
 '15 ',
 '372 ',
 '58000 ',
 '4960 ',
 '241600 ',
 '130000 ',
 '7062606 ',
 '740 ',
 '70 ',
 '2205 ',
 '10721 ',
 '640 ',
 '1000 ',
 '116 ',
 '1672 ',
 '322 ',
 '93600 ',
 '3060 ',
 '5879 ',
 '9200 ',
 '20000 ',
 '20867 ',
 ' ',
 '4143 ',
 '215063 ',
 '6000000 ',
 '21263 ',
 '63000000 ',
 '10190 ',
 '300 ',
 '12330 ',
 '5180 ',
 '756 ',
 '10000 ',
 '80 ',
 '1184 ',
 '1047 ',
 '777 ',
 '249 ',
 '414 ',
 ' ',
 '143 ',
 '7840 ',
 '30000 ',
 '35717 ',
 '135 ',
 '980 ',
 '5456 ',
 '120 ',
 '4095000 ',
 '7051 ',
 '240 ',
 '48204 ',
 '260000 ',
 '288000 ',
 '8300000 ',
 '125 ',
 '170 ',
 '141712 ',
 '3916 ',
 '6262 ',
 '420768 ',
 '1067371 ',
 '1385 ',
 '908 ',
 '546 ',
 '13956534 ',
 '15630426 ',
 '8992 ',
 '1687 ',
 '779 ',
 '1056 ',
 '590 ',
 '21643 ',
 '7750 ',
 '14057567 ',
 '27170754 ',
 '597 ',
 '329 ',
 '299 ',
 '20000 ',
 '26136 ',
 '1000 ',
 '399 ',
 '24017 ',
 '325834 ',
 '2916697 ',
 '22470 ',
 '189 ',
 '520 ',
 '826 ',
 '2279 ',
 '28764 ',
 '7107 ',
 '288000 ',
 '9800 ',
 '4760 ',
 '72 ',
 '1450 ',
 '170 ',
 '1984 ',
 '2955 ',
 '65532 ',
 '65919 ',
 '2111 ',
 '3810 ',
 '18 ',
 '244 ',
 '104 ',
 '139 ',
 '360177 ',
 '36733 ',
 '4480 ',
 '165474 ',
 '1985 ',
 '10000 ',
 '232 ',
 '150 ',
 '11 ',
 '14057567 ',
 '8760 ',
 '48 ',
 '6321 ',
 '3150 ',
 '17256 ',
 '187 ',
 '399 ',
 '14 ',
 '467 ',
 '597 ',
 '23700 ',
 '615 ',
 '6819 ',
 '1000 ',
 ' ',
 '2633 ',
 '200 ',
 '13028 ',
 '800 ',
 '1700 ',
 '521 ',
 '120000 ',
 '666 ',
 '88 ',
 '200 ',
 '2279 ',
 '23570 ',
 '10000 ',
 '37700 ',
 '1850 ',
 '11 ',
 '147270 ',
 '3150 ',
 '17256 ',
 '597 ',
 '7624 ',
 '314 ',
 '1197 ',
 '70 ',
 '7624 ',
 '26737 ',
 '10000 ',
 '13611 ',
 '12684 ',
 '48 ',
 '731 ',
 '731 ',
 '557 ',
 '107 ',
 '158716 ',
 '15744 ',
 '153000 ',
 '557 ',
 '36 ',
 '4200 ',
 '61069 ',
 '52417 ',
 '900 ',
 '35040 ',
 '4746 ',
 '73 ',
 '11000 ',
 '4465 ',
 '145 ',
 '202 ',
 '221 ',
 '597 ',
 '298 ',
 '110341 ',
 '705 ',
 '2101 ',
 '1765 ',
 '150 ',
 '4000 ',
 '6272 ',
 '1996 ',
 '35040 ',
 '75840 ',
 '400 ',
 '1014 ',
 '10129 ',
 '4000 ']

In [16]:
print(len(nt8))

623

In [17]:
n8=[]
try:
    n8tag=driver8.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[6]')
    for i in n8tag:
          n8.append(i.text)
except NoSuchElementException:
    n8.append('NA')
n8

['# Attributes',
 '8 ',
 '14 ',
 '38 ',
 '294 ',
 '279 ',
 '7 ',
 ' ',
 '69 ',
 '8 ',
 '26 ',
 '1 ',
 '4 ',
 '4 ',
 '9 ',
 '10 ',
 '34 ',
 '32 ',
 '13 ',
 '6 ',
 '14 ',
 '22 ',
 '36 ',
 '6 ',
 ' ',
 '6 ',
 '42 ',
 '15 ',
 ' ',
 '9 ',
 '9 ',
 '54 ',
 '39 ',
 '33 ',
 '20 ',
 ' ',
 ' ',
 ' ',
 '12 ',
 '8 ',
 '30 ',
 ' ',
 '10 ',
 '3 ',
 '5 ',
 '75 ',
 '19 ',
 '27 ',
 ' ',
 '19 ',
 '1558 ',
 '34 ',
 '4 ',
 '617 ',
 '12 ',
 '16 ',
 '7 ',
 '4 ',
 '16 ',
 '7 ',
 ' ',
 '56 ',
 '18 ',
 '8 ',
 '22 ',
 ' ',
 '58 ',
 ' ',
 '61 ',
 '7 ',
 ' ',
 '649 ',
 '22 ',
 '168 ',
 '168 ',
 '8 ',
 ' ',
 '10 ',
 '64 ',
 '16 ',
 '8 ',
 '17 ',
 ' ',
 ' ',
 '72 ',
 '4 ',
 '6 ',
 '10 ',
 '35 ',
 '35 ',
 '4 ',
 '102 ',
 '57 ',
 '22 ',
 '44 ',
 '45 ',
 ' ',
 ' ',
 '5 ',
 '9 ',
 '21 ',
 '32 ',
 '17 ',
 '16 ',
 '38 ',
 '21 ',
 '40 ',
 '13 ',
 '8 ',
 '17 ',
 ' ',
 ' ',
 '15 ',
 '22 ',
 '68 ',
 '40 ',
 '17 ',
 '89 ',
 ' ',
 '4 ',
 '12 ',
 ' ',
 ' ',
 '86 ',
 '72 ',
 '61 ',
 '12 ',
 '481 ',
 '42 ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '5 ',
 '90 ',
 ' ',
 '5 ',
 ' ',
 ' ',
 '14 ',
 '20 ',
 '13 ',
 '36 ',
 '19 ',
 '9 ',
 '18 ',
 '4 ',
 '60 ',
 '10 ',
 ' ',
 ' ',
 '10 ',
 '4 ',
 '3 ',
 '11 ',
 '11 ',
 ' ',
 '6 ',
 '13 ',
 ' ',
 '100000 ',
 '9 ',
 '101 ',
 '10000 ',
 '20000 ',
 '100000 ',
 '5000 ',
 '500 ',
 '73 ',
 '43 ',
 '23 ',
 '3 ',
 '5 ',
 ' ',
 '256 ',
 '591 ',
 '70 ',
 '91 ',
 '10 ',
 '128 ',
 '6 ',
 '12 ',
 '3231961 ',
 '5409 ',
 '26 ',
 ' ',
 ' ',
 '10 ',
 '23 ',
 '24 ',
 '13 ',
 '8 ',
 ' ',
 '27 ',
 '50 ',
 '90 ',
 '138672 ',
 ' ',
 '386 ',
 ' ',
 ' ',
 '12 ',
 '147 ',
 '6 ',
 '8 ',
 '27 ',
 '10000 ',
 '20000 ',
 '10000 ',
 '54877 ',
 '4702 ',
 '24 ',
 '29 ',
 '17 ',
 '3 ',
 '128 ',
 '10 ',
 '242 ',
 '120 ',
 ' ',
 '4 ',
 '13 ',
 '52 ',
 '47 ',
 '857 ',
 '9 ',
 '7 ',
 '200 ',
 '4 ',
 ' ',
 '561 ',
 '64 ',
 '8 ',
 '7 ',
 '10 ',
 '9 ',
 '4 ',
 '8 ',
 '77 ',
 '51 ',
 '18 ',
 '1950000 ',
 '18 ',
 '1300 ',
 '41 ',
 '6 ',
 '5625 ',
 '5 ',
 ' ',
 '7 ',
 '33 ',
 '5 ',
 '15 ',
 '9 ',
 '19 ',
 '5 ',
 '5 ',
 '1000000 ',
 '129 ',
 ' ',
 '20 ',
 '152 ',
 '24 ',
 '16 ',
 '35 ',
 '17 ',
 '5 ',
 '18 ',
 '28 ',
 '7 ',
 '309 ',
 '3 ',
 '6 ',
 ' ',
 ' ',
 '16 ',
 '13 ',
 '5 ',
 '6 ',
 '8 ',
 '2 ',
 '4 ',
 '148 ',
 '55 ',
 '17 ',
 '8 ',
 '42 ',
 '26 ',
 '50 ',
 '2 ',
 '281 ',
 '120 ',
 ' ',
 '6 ',
 '120432 ',
 '150000 ',
 '529 ',
 ' ',
 '16 ',
 '2500 ',
 '5 ',
 '68 ',
 '16 ',
 '100 ',
 '216 ',
 '23 ',
 '33 ',
 '140256 ',
 '19 ',
 '20 ',
 '20 ',
 '49 ',
 '12 ',
 '30 ',
 '5232 ',
 '20 ',
 '1 ',
 ' ',
 '61 ',
 '27 ',
 '53 ',
 '11 ',
 '25 ',
 '0 ',
 '20 ',
 '9 ',
 '3 ',
 '561 ',
 '82 ',
 '13 ',
 '16 ',
 '13 ',
 '28 ',
 '4 ',
 ' ',
 '24 ',
 '34 ',
 '8 ',
 '128 ',
 '15 ',
 '513 ',
 '7 ',
 '7 ',
 '5 ',
 '15 ',
 '480000 ',
 '11 ',
 '54 ',
 '561 ',
 '64 ',
 '6 ',
 '116 ',
 '19 ',
 ' ',
 '5812 ',
 '9 ',
 '32 ',
 '29 ',
 '67 ',
 ' ',
 '25 ',
 '6400 ',
 '10 ',
 '5 ',
 '13 ',
 '98 ',
 '36 ',
 '69 ',
 '2158859 ',
 '518 ',
 '15 ',
 '179 ',
 ' ',
 '12 ',
 '38 ',
 '65 ',
 '102 ',
 '86 ',
 '7 ',
 '53 ',
 '20 ',
 '1 ',
 '71 ',
 '29 ',
 '20531 ',
 '65 ',
 '3 ',
 '22 ',
 '38 ',
 '22 ',
 '4814 ',
 '698 ',
 '13 ',
 '10 ',
 '59 ',
 '56 ',
 '482 ',
 '171 ',
 '5 ',
 '500 ',
 '411 ',
 '8519 ',
 '21 ',
 '21 ',
 '171 ',
 '7 ',
 '49 ',
 '12 ',
 '3 ',
 '21 ',
 '9 ',
 '8 ',
 '7 ',
 '2 ',
 '11 ',
 '11 ',
 '173 ',
 '5 ',
 '15 ',
 '3 ',
 '105 ',
 '25000 ',
 ' ',
 '18 ',
 '21000 ',
 '115 ',
 '21 ',
 '206 ',
 '43680 ',
 '8 ',
 '10 ',
 '59 ',
 '10 ',
 '5 ',
 '5 ',
 '1000 ',
 '138 ',
 ' ',
 '16 ',
 '2 ',
 '10 ',
 ' ',
 '8 ',
 '6 ',
 '129 ',
 '81 ',
 '12 ',
 '6 ',
 '22 ',
 '18 ',
 '9 ',
 '754 ',
 '14 ',
 '5 ',
 ' ',
 ' ',
 '18 ',
 '7 ',
 '7 ',
 ' ',
 '7 ',
 '5 ',
 '6 ',
 '4 ',
 '18 ',
 '11 ',
 '25 ',
 ' ',
 '20 ',
 '12 ',
 '46 ',
 '9 ',
 '8 ',
 '49 ',
 '11 ',
 '8 ',
 '54 ',
 '36 ',
 '3916 ',
 '710 ',
 '18 ',
 '8 ',
 '29 ',
 '7 ',
 '9 ',
 '37 ',
 '6 ',
 '1024 ',
 '1024 ',
 '14 ',
 '7 ',
 '8265 ',
 '29 ',
 '25 ',
 '3 ',
 '115 ',
 '1 ',
 '12 ',
 '13 ',
 '200000 ',
 '6 ',
 '21 ',
 '4 ',
 '2400 ',
 '175 ',
 '10 ',
 '4714 ',
 '23 ',
 '17 ',
 '2 ',
 '9 ',
 '8 ',
 '280 ',
 '49 ',
 '3 ',
 '14 ',
 '19 ',
 ' ',
 '54 ',
 '8 ',
 '1087 ',
 '12 ',
 '3 ',
 '17 ',
 '8 ',
 '9 ',
 '12 ',
 '1656 ',
 '6 ',
 '2 ',
 '11 ',
 '533 ',
 '14 ',
 '84 ',
 '22 ',
 '16 ',
 '52 ',
 '19 ',
 '3 ',
 '14 ',
 '321 ',
 '13 ',
 '13 ',
 '55 ',
 '39 ',
 '4 ',
 '7 ',
 '79 ',
 '1 ',
 ' ',
 '14 ',
 '96 ',
 '21 ',
 ' ',
 '5 ',
 '2 ',
 '69 ',
 '9 ',
 '124 ',
 '20 ',
 '25 ',
 '11 ',
 '19 ',
 '9 ',
 '9 ',
 '5 ',
 '7 ',
 '4006 ',
 '2 ',
 '19 ',
 '4 ',
 '13 ',
 '55 ',
 '1 ',
 '7842 ',
 '15 ',
 '15 ',
 '70 ',
 '7842 ',
 '4 ',
 '14 ',
 '17 ',
 '23 ',
 '321 ',
 '1068 ',
 '1068 ',
 '5 ',
 '6 ',
 '4 ',
 ' ',
 '5 ',
 '5 ',
 '15 ',
 '7 ',
 '21 ',
 '9 ',
 '8 ',
 '11 ',
 '21 ',
 '22 ',
 '2 ',
 '241 ',
 '33 ',
 '29 ',
 '7 ',
 '1 ',
 ' ',
 '4 ',
 '11 ',
 '47 ',
 '10 ',
 '3 ',
 '2 ',
 '632 ',
 '6826 ',
 '11 ',
 '525 ',
 '50 ',
 '7 ',
 '16 ',
 '2 ']

In [18]:
print(len(n8))

623

In [19]:
y8=[]
try:
    y8tag=driver8.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[7]')
    for i in y8tag:
          y8.append(i.text)
except NoSuchElementException:
    y8.append('NA')
y8

['Year',
 '1995 ',
 '1996 ',
 ' ',
 '1998 ',
 '1998 ',
 '1992 ',
 '1987 ',
 '1992 ',
 '1993 ',
 '1987 ',
 '1994 ',
 '1994 ',
 ' ',
 '1988 ',
 '1992 ',
 '1995 ',
 '1995 ',
 '1990 ',
 '1997 ',
 '1996 ',
 '1988 ',
 '1989 ',
 '1994 ',
 ' ',
 ' ',
 '1995 ',
 ' ',
 '1992 ',
 '1987 ',
 '1997 ',
 '1998 ',
 '1995 ',
 '1998 ',
 ' ',
 ' ',
 '1994 ',
 ' ',
 '1989 ',
 '1996 ',
 '1990 ',
 '1990 ',
 '1987 ',
 '1999 ',
 '1989 ',
 '1988 ',
 '1988 ',
 '1989 ',
 ' ',
 '1990 ',
 '1998 ',
 '1989 ',
 '1988 ',
 '1994 ',
 '1990 ',
 '1988 ',
 '1988 ',
 '1990 ',
 '1991 ',
 '1990 ',
 ' ',
 '1992 ',
 '1988 ',
 '1990 ',
 '1996 ',
 '1995 ',
 '1990 ',
 ' ',
 '1992 ',
 '1992 ',
 '1994 ',
 ' ',
 '1987 ',
 '1994 ',
 '1994 ',
 '1997 ',
 '1991 ',
 '1995 ',
 '1998 ',
 '1998 ',
 '1993 ',
 '1988 ',
 ' ',
 ' ',
 '1992 ',
 '1993 ',
 '1988 ',
 '1989 ',
 '1988 ',
 '1987 ',
 '1993 ',
 '1988 ',
 '1999 ',
 '2001 ',
 '2001 ',
 ' ',
 '1992 ',
 '1993 ',
 '1997 ',
 '1991 ',
 '1987 ',
 '1994 ',
 '1988 ',
 '1987 ',
 '1993 ',
 '1988 ',
 '1988 ',
 '1991 ',
 '1996 ',
 '1990 ',
 ' ',
 '1999 ',
 '1999 ',
 '2002 ',
 ' ',
 '2000 ',
 '1999 ',
 '1999 ',
 '2001 ',
 '1999 ',
 '1999 ',
 '2000 ',
 '1999 ',
 '2000 ',
 '1999 ',
 '1999 ',
 ' ',
 '1998 ',
 '1999 ',
 '2001 ',
 '1999 ',
 ' ',
 '2003 ',
 '1999 ',
 '1999 ',
 '1997 ',
 '1999 ',
 '1999 ',
 '1998 ',
 ' ',
 ' ',
 ' ',
 '1994 ',
 ' ',
 '1993 ',
 '1990 ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1989 ',
 '2006 ',
 '2006 ',
 '2007 ',
 '2007 ',
 '2007 ',
 '2007 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2007 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2009 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2010 ',
 '2009 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2014 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2013 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2015 ',
 '2014 ',
 '2014 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2014 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2016 ',
 '2016 ',
 '2015 ',
 '2016 ',
 '2016 ',
 '2015 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2018 ',
 '2018 ',
 '2016 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2019 ',
 '2019 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2021 ',
 '2018 ',
 '2018 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2021 ',
 '2021 ']

In [20]:
print(len(y8))

623

In [21]:
y88=y8[1:]
y88

['1995 ',
 '1996 ',
 ' ',
 '1998 ',
 '1998 ',
 '1992 ',
 '1987 ',
 '1992 ',
 '1993 ',
 '1987 ',
 '1994 ',
 '1994 ',
 ' ',
 '1988 ',
 '1992 ',
 '1995 ',
 '1995 ',
 '1990 ',
 '1997 ',
 '1996 ',
 '1988 ',
 '1989 ',
 '1994 ',
 ' ',
 ' ',
 '1995 ',
 ' ',
 '1992 ',
 '1987 ',
 '1997 ',
 '1998 ',
 '1995 ',
 '1998 ',
 ' ',
 ' ',
 '1994 ',
 ' ',
 '1989 ',
 '1996 ',
 '1990 ',
 '1990 ',
 '1987 ',
 '1999 ',
 '1989 ',
 '1988 ',
 '1988 ',
 '1989 ',
 ' ',
 '1990 ',
 '1998 ',
 '1989 ',
 '1988 ',
 '1994 ',
 '1990 ',
 '1988 ',
 '1988 ',
 '1990 ',
 '1991 ',
 '1990 ',
 ' ',
 '1992 ',
 '1988 ',
 '1990 ',
 '1996 ',
 '1995 ',
 '1990 ',
 ' ',
 '1992 ',
 '1992 ',
 '1994 ',
 ' ',
 '1987 ',
 '1994 ',
 '1994 ',
 '1997 ',
 '1991 ',
 '1995 ',
 '1998 ',
 '1998 ',
 '1993 ',
 '1988 ',
 ' ',
 ' ',
 '1992 ',
 '1993 ',
 '1988 ',
 '1989 ',
 '1988 ',
 '1987 ',
 '1993 ',
 '1988 ',
 '1999 ',
 '2001 ',
 '2001 ',
 ' ',
 '1992 ',
 '1993 ',
 '1997 ',
 '1991 ',
 '1987 ',
 '1994 ',
 '1988 ',
 '1987 ',
 '1993 ',
 '1988 ',
 '1988 ',
 '1991 ',
 '1996 ',
 '1990 ',
 ' ',
 '1999 ',
 '1999 ',
 '2002 ',
 ' ',
 '2000 ',
 '1999 ',
 '1999 ',
 '2001 ',
 '1999 ',
 '1999 ',
 '2000 ',
 '1999 ',
 '2000 ',
 '1999 ',
 '1999 ',
 ' ',
 '1998 ',
 '1999 ',
 '2001 ',
 '1999 ',
 ' ',
 '2003 ',
 '1999 ',
 '1999 ',
 '1997 ',
 '1999 ',
 '1999 ',
 '1998 ',
 ' ',
 ' ',
 ' ',
 '1994 ',
 ' ',
 '1993 ',
 '1990 ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1989 ',
 '2006 ',
 '2006 ',
 '2007 ',
 '2007 ',
 '2007 ',
 '2007 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2007 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2009 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2010 ',
 '2009 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2014 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2013 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2015 ',
 '2014 ',
 '2014 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2014 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2016 ',
 '2016 ',
 '2015 ',
 '2016 ',
 '2016 ',
 '2015 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2018 ',
 '2018 ',
 '2016 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2019 ',
 '2019 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2021 ',
 '2018 ',
 '2018 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2021 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2021 ',
 '2021 ']

In [23]:
df8=pd.DataFrame({'Dataset Name':d8[1:],'Data Type':d8[1:],'Task':t8[1:],'Attribute Task':at8[1:],'No.of Instances':nt8[1:],'No.of Attributes':n8[1:],'Year':y88})
df8

,Dataset Name,Data Type,Task,Attribute Task,No.of Instances,No.of Attributes,Year
0,Abalone,Abalone,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Adult,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Annealing,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,Anonymous Microsoft Web Data,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Arrhythmia,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Influenza outbreak event prediction via Twit...,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Turkish Music Emotion Dataset,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,Maternal Health Risk Data Set,Classification,,1014,7,2020
620,Room Occupancy Estimation,Room Occupancy Estimation,Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Image Recognition Task Execution Times in Mo...,Regression,Real,4000,2,2021

# PROBLEM NO.2 - TEAM INDIA'S INTERNATIONAL FIXTURES

In [53]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [54]:
driver9=webdriver.Chrome(r"chromedriver.exe")

In [55]:
driver9.get("http://www.bcci.tv/")

In [56]:
search9=driver9.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
search9.click()

In [65]:
a9=[]
a9tag=driver9.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in a9tag:
    a9.append(i.text.split('-')[0])
a9

['1st ODI ', '2nd ODI ', '3rd ODI ']

In [67]:
b9=[]
b9tag=driver9.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in b9tag:
    b9.append(i.text.split(',')[0])
b9

['Wankhede Stadium',
 'Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium',
 'MA Chidambaram Stadium']

In [59]:
c9=[]
c9tag=driver9.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in c9tag:
    c9.append(i.text)
c9

['AUSTRALIA TOUR OF INDIA 2023',
 'AUSTRALIA TOUR OF INDIA 2023',
 'AUSTRALIA TOUR OF INDIA 2023']

In [60]:
d9=[]
d9tag=driver9.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in d9tag:
    d9.append(i.text)
d9

['17 MAR 2023', '19 MAR 2023', '22 MAR 2023']

In [62]:
f9=[]
f9tag=driver9.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in f9tag:
    f9.append(i.text)
f9

['1:30 PM IST', '1:30 PM IST', '1:30 PM IST']

In [68]:
df9=pd.DataFrame({'Match Title':a9,'Series':c9,'Place':b9,'Date':d9,'Time':f9})
df9

,Match Title,Series,Place,Date,Time
0,1st ODI,AUSTRALIA TOUR OF INDIA 2023,Wankhede Stadium,17 MAR 2023,1:30 PM IST
1,2nd ODI,AUSTRALIA TOUR OF INDIA 2023,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,19 MAR 2023,1:30 PM IST
2,3rd ODI,AUSTRALIA TOUR OF INDIA 2023,MA Chidambaram Stadium,22 MAR 2023,1:30 PM IST